---
layout: base

---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <section class="inpage inpage--hub agenda">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline" data-hook="nav-offset">
            <h1 class="inpage__title">Agenda</h1>
          </div>
        </div>
      </header>
      <div class="inpage__body">

        <div class="fold">
          <div class="inner">

          {% assign events_by_category = site.events | group_by: "category" %}

          <ul class="event-legend">
            {% for g in events_by_category %}
            {% unless g.name == "" %}
            <li class="event-legend__item event-legend__item--{{ g.name | slugify }}"><span>{{ g.name }}</span></li>
            {% endunless %}
            {% endfor %}
          </ul>

          {% assign events_by_time = site.events | group_by: "time" %}

          <div class="timetable">
            {% for g in events_by_time %}
            {% capture time_start %}2016/01/01 {{ g.name }}{% endcapture %}
            <section class="event-group event-group--{{ g.size }}e">
              <h1 class="event-group__title">{{ time_start | date: "%l:%M%P" }}</h1>
              <ul class="event-list event-list--hub">
                {% for event in g.items %}

                {% capture article_classes %}{% endcapture %}
                {% if event.category %}
                {% capture article_classes %}{{ article_classes }} event--cat-{{ event.category | slugify }}{% endcapture %}
                {% endif %}
                {% if event.type %}
                {% capture article_classes %}{{ article_classes }} event--type-{{ event.type | slugify }}{% endcapture %}
                {% endif %}

                <li class="event-list__item">
                  <article class="timeslot event--short {{ article_classes }}">
                    <div class="timeslot__inner">
                      <header class="timeslot__header">
                        <p class="timeslot__suptitle">{{ event.type }}</p>
                        {% unless event.permalink == 'none' %}
                        <h1 class="timeslot__title"><a href="{{ site.baseurl }}{{ event.url }}" title="View event">{{ event.title }}</a></h1>
                        {% else %}
                        <h1 class="timeslot__title">{{ event.title }}</h1>
                        {% endunless %}
                        <p class="timeslot__detail">{{ event.room }}, {{ event.duration }}min.</p>
                      </header>
                      {% if event.description %}
                      <div class="timeslot__body">
                        <div class="timeslot__prose">
                          {{ event.description | markdownify }}
                        </div>
                      </div>
                      {% endif %}
                      {% if event.speakers %}
                      <footer class="timeslot__footer">
                        <ul class="event__speaker-list">
                        {% for speaker in event.speakers %}
                          {% assign s = site.speakers | where: "title",speaker | first %}
                          {% if s.url and event.type == "Keynote" %}
                          <li><a href="{{ site.baseurl }}{{ s.url }}" title="View speaker profile">{{ speaker }}</a> ({{ s.role }}, {{ s.company }})</li>
                          {% elsif s.url %}
                          <li><a href="{{ site.baseurl }}{{ s.url }}" title="View speaker profile">{{ speaker }}</a></li>
                          {% else %}
                          <li>{{ speaker }}</li>
                          {% endif %}
                        {% endfor %}
                        </ul>
                      </footer>
                      {% endif %}
                    </div>
                  </article>
                  
                </li>
                {% endfor %}
              </ul>

            </section>
            {% endfor %}
          </div>

          <p><small>Note: this schedule is subject to change.</small></p>

          </div>
        </div>

        <aside>
          {% include code-of-conduct-fold.html %}

          {% include sponsors-fold.html %}
        </aside>

      </div>
    </section>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->