---
layout: base
published: true
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    {% assign events_by_category = site.events | group_by: "category" %}
    {% assign events_by_day = site.events | group_by: "date" %}

    <!-- inPage -->
    <section class="inpage agenda">
      <header class="inpage__header--secondary">
        <div class="fold">
          <div class="inner">
            <h1 class="inpage__title heading--xlarge">Agenda</h1>
            <ul class="button-list">
              {% for d in events_by_day %}
              <li><a class="button" href="#day-{{d.name | date: '%d'}}">{{d.name | date: "%A"}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </header>
      <div class="inpage__body">
        <div class="fold">
          <div class="inner">

            {% for d in events_by_day %}
              {% assign events_by_time = d.items | group_by: "time_slot" %}
              <div id="day-{{d.name | date: '%d'}}" class="agenda-content">
                <h2 class="agenda__day heading--large">{{d.name | date: "%A"}}<span>{{d.name | date: "%b. %d"}}</span></h2>
                {% for g in events_by_time %}
                {% capture time_start %}2016/01/01 {{ g.name }}{% endcapture %}
                <section class="agenda-section agenda-section--{{ g.size }}e">
                  <div class="agenda-section__container"><span class="agenda-section__time">{{ time_start | date: "%l:%M%P" }}</span></div>
                  <ul class="event-list event-list--hub">
                    {% for event in g.items %}

                    {% capture article_classes %}{% endcapture %}
                    {% if event.category %}
                    {% capture article_classes %}{{ article_classes }} event--cat-{{ event.category | slugify }}{% endcapture %}
                    {% endif %}
                    {% if event.type %}
                    {% capture article_classes %}{{ article_classes }} event--type-{{ event.type | slugify }}{% endcapture %}
                    {% endif %}

                    <li class="event-list__item">
                      <article class="event event--short {{ article_classes }}" id="event-{{ event.title | slugify }}">
                        <div class="event__content">

                          <header class="event__header">
                            {% if event.type %}
                            <p class="event__type">{{ event.type }}</p>
                            {% endif %}
                            {% unless event.permalink == 'none' %}
                            <h1 class="event__title"><a href="{{ site.baseurl }}/agenda#event-{{ event.title | slugify }}" title="View event">{{ event.title }}</a></h1>
                            {% else %}
                            <h1 class="event__title">{{ event.title }}</h1>
                            {% endunless %}
                            <span class="event__room event__room-{{ event.room | slugify }}">{{ event.room }}</span>
                          </header>

                          {% if event.summary or event.people %}
                          <div class="event__body">

                            {% if event.summary %}
                            <div class="event__prose">
                              {{ event.summary | markdownify }}
                            </div>
                            {% endif %}

                            {% if event.people %}
                            <dl class="event__speaker-list">
                            {% for role in event.people %}
                              <dt>{{ role[0] | capitalize }}</dt>
                              {% for person in role[1] %}
                                {% assign s = site.speakers | where: "title", person | first %}
                                {% if s.url %}
                                <dd><a href="{{ site.baseurl }}{{ s.url }}" title="View speaker profile">{{ s.title }}</a></dd>
                                {% else %}
                                <dd>{{ person }}</dd>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                            </dl>
                            {% endif %}

                          </div>
                          {% endif %}

                        </div>
                      </article>
                    </li>
                    {% endfor %}
                  </ul>

                </section>
                {% endfor %}
              </div>


            {% endfor %}
          </div>
        </div>

      </div>
    </section>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->
