/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset "UTF-8";


/* Third-party
   ========================================================================== */

/**
 * Using Bourbon for extended SASS functionality:
 * http://bourbon.io/
 */

@import "bourbon";

/**
 * Using Jeet, a grid system designed for humans:
 * http://jeet.gs/
 */

@import "jeet/jeet";

/**
 * Normalize.css, a modern, HTML5-ready alternative to CSS resets:
 * http://necolas.github.io/normalize.css/
 */

@import "vendor/normalize";

/**
 * Kenneth Ormandy's OpenType features—ligatures, kerning, and more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

// @import "vendor/normalize-opentype";


/* Settings
   ========================================================================== */

@import "settings/variables";
@import "settings/functions";
@import "settings/mixins";


/* Core
   ========================================================================== */

@import "core/base";
@import "core/webfont-satsummit"; // Webfont: Satsummit
@import "core/webfont-atlas"; // Webfont: Atlas
@import "core/collecticons"; // Webfont icon library: Collecticons
@import "core/typography";
@import "core/media";
@import "core/utilities";


/* Global
   ========================================================================== */

@import "global/buttons";
@import "global/page";
@import "global/inpage";
@import "global/folds";


/* Homepage
   ========================================================================== */

@import "homepage/global";