/* ==========================================================================
   Speakers: Single Page
   ========================================================================== */

.inpage--speaker .inpage__headline::before {
  display: none;
}

.inpage--speaker {
  .speaker-avatar {
    margin: 0 0 (-$global-spacing * 4) (-$global-spacing);
    width: 16rem;

    @include media(small-up) {
      margin-left: (-$global-spacing * 2);
    }

    @include media(medium-up) {
      float: left;
      margin: (-$global-spacing * 4) (-$global-spacing * 3) 0 0;
    }
  }
}