/* ==========================================================================
   Speakers: Single Page
   ========================================================================== */

.speaker--single {
  .sidebar-left {
    float: left;
    width: 25%;
    margin-right: 5%;
    @include media(small-down) {
      width: 40%;
      float: none;
      margin: 3em 0 4em;
    }
    @include media(xsmall-only) {
      width: 60%;
    }
  }
  .speaker__avatar {
    margin: 0 0 (-$global-spacing * 4) 0;
    border-top: 7px solid $primary-link-color;
    img {
      width: 100%;
    }
  }
  .sidebar-content-main {
    width: 60%;
    float: left;
    @include media(small-down) {
      width: 100%;
      float: none;
    }
  }
  header {
    margin-bottom: 3em;
  }
  .event__header {
    margin-bottom: .7em;
  }
}

.speaker--content {
  margin-top: 3em;
}


/* Events
   ========================================================================== */

.speaker--single {
  .event-list {
    @extend .clearfix;
    list-style: none;
    margin: 0;
    padding: $global-spacing 0 0 0;
    width: 100%;
  }

  .event-list__item:not(:last-child) {
    padding-bottom: $global-spacing;
    margin-bottom: $global-spacing;
    box-shadow: inset 0 -2px 0 0 #fff;
  }
}
