/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: #2037E9;                                   // blue
$primary-link-color: #19E9D4;                           // link-green
$secondary-color: #888990;                              // grey

/* State colors */

$danger-color: #e74c3c;                                 // Alizarin (Red-ish)
$success-color: #27ae60;                                // Nephritis (Green)
$warning-color: #f39c12;                                // Orange
$info-color: #2980b9;                                   // Belize Hole (Blue)

/* Helper colors */

$link-color: $primary-link-color;


/* Typography
   ========================================================================== */

$root-font-size: 14px;

$base-font-color: $base-color;
$base-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-bold: 700;
$base-font-weight: $base-font-regular;
$base-font-size: 1rem;
$base-line-height: 2;

$heading-font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-light: 300;
$heading-font-regular: 400;
$heading-font-medium: 500;
$heading-font-bold-italic: 700;
$heading-font-weight: $heading-font-medium;


/* Sizing, spacing and media queries
   ========================================================================== */

/* Sizing */

$page-header-y: 0 !default;

/* Spacing */

$global-spacing: 1rem;

/* Rows */

$row-min-width: 320px;
$row-max-width: 1440px; // former 1280
$jeet-max-width: $row-max-width; // reset jeet.gs max width

/* Media queries */

$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);

$screen: "only screen";
