/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: #2423dd;                                   // Base color
$primary-color: #84ffc9;                                // Green-ish
$secondary-color: #b1b1e5;                              // Purple-ish (soft)

/* State colors */

$danger-color: #e74c3c;                                 // Alizarin (Red-ish)
$success-color: #27ae60;                                // Nephritis (Green)
$warning-color: #f39c12;                                // Orange
$info-color: #2980b9;                                   // Belize Hole (Blue)

/* Helper colors */

$link-color: $primary-color;
$base-alpha-color: rgba($base-color, 0.12);
$base-semi-alpha-color: rgba($base-color, 0.08);


/* Typography
   ========================================================================== */

$root-font-size: 16px;

$base-font-color: $base-color;
$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-medium: 500;
$base-font-bold: 700;
$base-font-weight: $base-font-regular;
$base-font-size: 1rem;
$base-line-height: 1.5;

$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

$heading-font-family: "Satsummit", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-regular: 400;
$heading-font-bold: 700;
$heading-font-weight: $heading-font-bold;

/* Decoration
   ========================================================================== */

/* Border radius */

$base-border-radius: 0.25rem;
$full-border-radius: 60rem;


/* Sizing, spacing and media queries
   ========================================================================== */

/* Sizing */

$page-header-y: 0 !default;

/* Spacing */

$global-spacing: 1rem;

/* Rows */

$row-min-width: 320px;
$row-max-width: 1440px; // former 1280
$jeet-max-width: $row-max-width; // reset jeet.gs max width

/* Media queries */

$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);

$screen: "only screen";