<section id="about" >
    <div class="container content-section">
        <div class="row">
        <div class="col-lg-12 ">
             

            <div class="col-lg-12 ">
                 <div class="btn btn-circle ">
                    <i class="fa fa-bolt"></i>
                </div>
                <h1>About</h1>
             </div>
            
            <div>    
               <p class="col-md-4"> Join global international development organizations and satellite industry leaders at Satellite Summit for <span>one day of presentations and discussions</span> about imagery and data processing capabilities.</p>

                <p class="col-md-4">Imagery provides <span>powerful insights into issues central to the international development community:</span> climate change, population growth, and natural resource availability. We are just scratching the surface of what is possible.</p>

                <p class="col-md-4">If you’re interested in the <span>future of satellite imagery</span> to solve global challenges, register for the event.
                </p>

            </div>
            <div class="text-center col-lg-12 cta">
               <a class="btn" href="#">Register now</a>
            </div>
            </div>
        </div>
        </div>
    </section>