<section id="contact" >
    <div class="container content-section">
        <div class="row">
        <div class="col-lg-12 text-center">
             

            <div class="col-lg-12 ">
                <h1>Contact</h1>
             </div>
            
            <div class="col-lg-12">    
               <p class=""> For questions about Satellite Summit, presentating or sponsoring, email satsummit@developmentseed.org
                </p>
            </div>
 

            </div>
        </div>
        </div>
    </section>