    <!-- Intro Header -->
    <header class="intro contain">

    <div class="grid moving_header contain"> 
      <div class="moving_images">
        <div class="moving__img moving__img-header hide-mobile">
          <img src="img/intro-bg.jpg" class="tilt-effect"  data-tilt-options='{ "movement": { "perspective" : 700, "translateX" : -15, "translateY" : -15, "translateZ" : 10, "rotateX" : 2, "rotateY" : 5 } }' />
        </div>
      </div>
  </div>
          <div class="intro-body center-y">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                       <div class="col-md-6 col-md-offset-3"> {% include logo.svg %}</div>

                        <h1 class="brand-heading">Satellite Summit</h1>
                        <p>November, 9th 2015</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </header>


