<section id="presentations" >
    <div class="container content-section">
        <div class="row">
        <div class="col-lg-12 ">
             

            <div class="col-lg-12 ">
                 <div class="btn btn-circle ">
                    <i class="fa fa-heart"></i>
                </div>
                <h1>presentations</h1>
             </div>
            
            <div class="col-lg-12">    
               <p class="col-md-8"> We'll have a mix of panels and short ignite presentations throughout the day. Panels will explore the oportunities to better bridge the earth observation and development communities. Ignite presentations will highlight real world applications of satellite imagery for development or discuess imagery collection methods, analysis and distribution.

				</p>
            </div>
 

            <div class="col-lg-12 presenters-grid text-center">  
            
            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo"></div>
            	<h3>To be announced</h3></div>
            </div>
          
            
            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo"></div>
            	<h3>To be announced</h3></div>
            </div>
          
            
            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo"></div>
            	<h3>To be announced</h3></div>
            </div>
          
            
            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo"></div>
            	<h3>To be announced</h3></div>
            </div>
          
            
            <div class="col-md-4">
            	<div class="presenter">
            	<div class="photo"></div>
            	<h3>To be announced</h3></div>
            </div>
          

            </div>
            </div>
        </div>
        </div>
    </section>