<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | prepend: site.baseurl }}">
    
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/assets/graphics/meta/favicon.ico' />
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- build:css /assets/styles/vendor.css -->
    <link rel="stylesheet" href="assets/styles/mapbox-base.css" />
    <link rel="stylesheet" href="assets/styles/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/styles/style.css" />
    <!-- endbuild -->

</head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="page">
      
       <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{ site.baseurl }}/assets/graphics/layout/satellite.svg" height="30px" /><span>#SatSummit</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="hidden">
                        <a class="page-scroll inactive" href="#presentations">Presentations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#agenda">Agenda</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue">Venue</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tickets">Tickets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsors">Sponsors</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- header -->
<header class="page-header clearfix clip">
  <div class="pad4x center-y center">
    <div class="page-headline">
      <h1 class="page-title">Satsummit</h1>
      <p class="page-details">Oct 24 • Washington DC</p>
      <p class="page-description">Satellite data for global development</p>
    </div>
  </div>
  <p class="image-credits pin-bottomright small pad0y pad1x fill-darken1 round space-right1 space-bottom1 round-big">Image by <a href="http://earthobservatory.nasa.gov/IOTD/view.php?id=88687" title="View image" target="_blank">The Earth Observatory</a></p>
</header>
<!--/ header -->

      
      <!-- about -->
      <section class="fold fold-dark" id="about">
          <div class="container">
              <h1 class="fold-title">About</h1>
              <div class="prosaic col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
                  <p>SatSummit brings together satellite industry experts and global development leaders for in-depth conversations about how satellite imagery is solving some of the world's most critical development challenges. From climate change to population growth to natural resource availability, satellite data is offering insights into today's biggest global issues.</p>
                  <p>Join us as we explore current satellite data capabilities and global applications to identify real opportunities for partnership and innovation.</p>
              </div>
              <div class="text-center cta col-sm-12">
                  <a class="btn" href="https://twitter.com/intent/user?screen_name=sat_summit" title="Open Twitter">Follow #SatSummit on Twitter</a>
              </div>
          </div>
      </section>
      <!--/ about -->

      <!-- agenda -->
      <section class="fold fold-light" id="agenda">
  <div class="container">

    <h1 class="fold-title">Agenda</h1>
    <div class="row">

      <div class="prosaic col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
        <section class="agenda-block">
          <h2 class="agenda-block-title">The Satellite Industry Today</h2>
          <dl class="agenda-list">

            <dt class="agenda-key alt-row">8:00-9:00</dt>
            <dd class="agenda-value alt-row">Registration & Breakfast</dd>

            <dt class="agenda-key">9:00-9:30</dt>
            <dd class="agenda-value">One Year Later: Updates from the last Summit</dd>

            <dt class="agenda-key">9:30-10:00</dt>
            <dd class="agenda-value">
              The Current State of the Commercial Satellite Industry
              <br><i>The Next Resolution Frontier</i>
              <br><i>$60M in Imagery for the Millenium Development Goals</i>
              <br><i>Aligning Regulations with Policy Goals</i>
              <br><i>Launch Capacity</i>
            </dd>

            <dt class="agenda-key">10:00-10:45</dt>
            <dd class="agenda-value">Open Data Roundtable: Freely Available Data and How to Access It</dd>

            <dt class="agenda-key alt-row">10:45-11:15</dt>
            <dd class="agenda-value alt-row">Coffee Break</dd>
          </dl>
        </section>

        <section class="agenda-block">
          <h2 class="agenda-block-title">Imagery for Development</h2>
          <dl class="agenda-list">
            <dt class="agenda-key">11:15-11:30</dt>
            <dd class="agenda-value">The State of Satellite in Global Development</dd>

            <dt class="agenda-key">11:30-12:30</dt>
            <dd class="agenda-value">Practitioner Roundtable: A Satellite Data Revolution?</dd>

            <dt class="agenda-key">12:30-1:00</dt>
            <dd class="agenda-value">What's Next for the Imagery Industry?
            <br><i>Automated Road Extraction</i>
            <br><i>Remote Election Observation</i>
            <br><i>Water Resource Management</i>
            </dd>
            <dt class="agenda-key alt-row">1:00-2:30</dt>
            <dd class="agenda-value alt-row">Lunch</dd>
          </dl>
        </section>

        <section class="agenda-block">
          <h2 class="agenda-block-title">Data Into Action</h2>
          <dl class="agenda-list">
            <dt class="agenda-key">2:30-3:10</dt>
            <dd class="agenda-value">Efficient and Effective Data Distribution - How to Push Pixels Globally</dd>

            <dt class="agenda-key">3:10-3:40</dt>
            <dd class="agenda-value">Putting Pixels to Work: Machine Learning with Imagery</dd>

            <dt class="agenda-key alt-row">3:40-4:10</dt>
            <dd class="agenda-value alt-row">Coffee Break</dd>

            <dt class="agenda-key">4:10-5:00</dt>
            <dd class="agenda-value">Stories from the Ground: Real Data for Real Change</dd>

            <dt class="agenda-key alt-row">5:00-7:00</dt>
            <dd class="agenda-value alt-row">Social Event @ Hill Country</dd>
          </dl>
        </section>

        <p><small>Note: this schedule is subject to change.</small></p>
      </div>

    </div>

  </div>
</section>
<!--/ agenda -->

<!-- venue -->
<section class="fold fold-dark" id="venue">
  <div class="container">

    <div class="address">
      <h1 class="fold-title">Venue</h1>
      <div class="row">
        <div class="prosaic">
          <p>District Architecture Center, 421 7th St NW <br/ > Washington, DC 20004</p>
        </div>
      </div>
    </div>

    <div class="map-container">
      <div id="map"></div>
    </div>

  </div>
</section>
<!--/ venue -->

<!-- tickets -->
<section class="fold fold-light" id="tickets">
  <div class="container">

    <h1 class="fold-title">Tickets</h1>
    <div class="row">
      <div class="prosaic text-center col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
        <iframe src="//eventbrite.com/tickets-external?eid=27762180429&ref=etckt" frameborder="0" height="400" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <p><small>Powered by <a class="powered-by-eb" target="_blank" title="Visit Eventbrite" href="http://www.eventbrite.com/l/registration-online/">Eventbrite</a></small></p>
      </div>
    </div>

  </div>
</section>

<!--/ tickets -->

<!-- sponsors -->
<section class="fold fold-dark" id="sponsors" >
  <div class="container">

    <h1 class="fold-title">Sponsors</h1>

    <div class="row text-center">

      <ul class="sponsors-list">
        <li class="sponsor-wrapper col-sm-6">
          <a href="https://www.mapbox.com/" title="Visit website" class="sponsor-item" target="_blank">
            <span class="visually-hidden">Mapbox</span>
            <img src="{{ site.baseurl }}/assets/graphics/content/sponsors/mapbox.png" alt="Mapbox logo" />
          </a>
        </li>
        <li class="sponsor-wrapper col-sm-6">
          <a href="https://developmentseed.org/" title="Visit website" class="sponsor-item" target="_blank">
            <span class="visually-hidden">Development Seed</span>
            <img src="{{ site.baseurl }}/assets/graphics/content/sponsors/devseed.png" alt="Development Seed logo" />
          </a>
        </li>
        <li class="sponsor-wrapper col-sm-6">
          <a href="https://astrodigital.com/" title="Visit website" class="sponsor-item" target="_blank">
            <span class="visually-hidden">Astro Digital</span>
            <img src="{{ site.baseurl }}/assets/graphics/content/sponsors/astrodigital.png" alt="Astro Digital logo" />
          </a>
        </li>
        <li class="sponsor-wrapper col-sm-6">
          <a href="https://www.digitalglobe.com/" title="Visit website" class="sponsor-item" target="_blank">
            <span class="visually-hidden">DigitalGlobe</span>
            <img src="{{ site.baseurl }}/assets/graphics/content/sponsors/dg.png" alt="DigitalGlobe logo" />
          </a>
        </li>
        <li class="sponsor-wrapper col-sm-6 col-sm-push-3">
          <a href="https://www.azavea.com/" title="Visit website" class="sponsor-item" target="_blank">
            <span class="visually-hidden">Azavea</span>
            <img src="{{ site.baseurl }}/assets/graphics/content/sponsors/azavea.png" alt="Azavea logo" />
          </a>
        </li>

      </ul>

      <div class="prosaic text-center space-top8 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
        <p class=""> For questions about #SatSummit, presenting, or sponsoring, email <a href="mailto:info@satsummit.io" title="Get in touch">info@satsummit.io</a></p>
      </div>
    </div>

  </div>
</section>

<!--/ sponsors -->

<!-- footer -->
<footer class="page-footer">
  <div class="container text-center">
    <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }} - <a href="https://www.developmentseed.org">Development Seed</a> &amp; <a href="https://www.mapbox.com/">Mapbox</a></p>
  </div>
</footer>
<!--/ footer -->

    <!-- build:js /assets/scripts/bundle.js -->
    <script src="/assets/scripts/bundle.js"></script>
    <!-- endbuild -->

    </div>
  </body>
</html>