---
layout: base
use_excerpt: true
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <article class="inpage inpage--single event event--single">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline" data-hook="nav-offset">
            <p class="inpage__suptitle"><a href="/agenda/" title="View full agenda">Agenda</a> <small>/</small> {{ page.type }}</p>
            {% if page.type %}
            <p class="inpage__suptitle">{{ page.type }}</p>
            {% endif %}
            <h1 class="inpage__title">{{ page.title }}</h1>
            {% if page.time %}
            <div class="inpage__detail">
              <p>{{ page.time }}</p>
            </div>
            {% endif %}
          </div>
        </div>
      </header>
      <div class="inpage__body">
        <div class="inner prose prose--responsive">
          <!-- inPage main content -->
          <div class="inpage__main-content prose prose--responsive">
            {{ content }}
          </div>
          <!--/ inPage main content -->
        </div>
      </div>
    </article>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->