---
layout: base
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <section class="inpage">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline">
            {% if page.parent %}
            <p class="inpage__subtitle">{{ page.parent }}</p>
            {% endif %}
            <h1 class="inpage__title">{{ page.title }}</h1>
            {% if page.introduction %}
            <div class="inpage__introduction">
              <p>{{ page.introduction }}</p>
            </div>
            {% endif %}
          </div>
        </div>         
      </header>
      <div class="inpage__body">
        <div class="inner">
          <!-- inPage main content -->
          <div class="inpage__main-content prose prose--responsive">{{ content }}</div>
          <!--/ inPage main content -->
        </div>
      </div>
    </section>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->