---
layout: base
use_excerpt: true
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <article class="inpage inpage--single insight insight--single">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline" data-hook="nav-offset">
            <p class="inpage__suptitle"><a href="/insights/" title="View all insights">Insights</a> <small>/</small> {{ page.type }}</p>
            <h1 class="inpage__title">{{ page.title }}</h1>
            <div class="inpage__detail">
              {% if page.author.url %}
              <p>By <a href="{{ page.author.url }}" title="View author">{{ page.author.name }}</a> on <time datetime="{{page.date | date:'%Y-%m-%d'}}" pubdate>{{ page.date | date:'%b %d, %Y' }}</time></p>
              {% else %}
              <p>By {{ page.author.name }} on <time datetime="{{page.date | date:'%Y-%m-%d'}}" pubdate>{{ page.date | date:'%b %d, %Y' }}</time></p>
              {% endif %}
            </div>
          </div>
          {% if page.presentation %}
          <div class="inpage__actions">
          <a class="inpage-action-download" href="/assets/downloads/presentations/{{ page.presentation }}" title="Download presentation"><span>Download</span></a>
          </div>
          {% endif %}
        </div>
      </header>
      <div class="inpage__body">
      
        <div class="fold">
          <div class="inner">

            <div class="fold__body">
              <div class="main-content prose prose--responsive">
                {{ content }}
              </div>
            </div>

            <div class="fold__footer fold__footer--actions">
              <a class="fold__cta fold__cta--light fold__cta--go" href="/insights/" title="View all insights"><span>View all insights</span></a>
            </div>

          </div>
        </div>
        
      </div>
    </article>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->