---
layout: base
use_excerpt: true
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <article class="inpage inpage--speakers-single">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline" data-hook="nav-offset">
            <figure class="speaker-avatar">
              {% if page.avatar %}
              <img src="{{ site.baseurl }}/assets/graphics/content/speakers/{{ page.avatar }}" alt="{{ page.title }} photo" />
              {% else %}
              <img src="{{ site.baseurl }}/assets/graphics/layout/speaker-thumb-placeholder.svg" alt="Speaker placeholder image" />
              {% endif %}
            </figure>
            <p class="inpage__suptitle">Speaker</p>
            <h1 class="inpage__title">{{ page.title }}</h1>
            {% if page.role %}
            <div class="inpage__detail">
              <p>{{ page.role }}, {{ page.company }}</p>
            </div>
            {% endif %}
          </div>
          {% if page.twitter %}
          <div class="inpage__actions">
            <a class="inpage-speaker-twitter-button" href="https://twitter.com/intent/user?screen_name={{ page.twitter }}" title="Follow on Twitter">@{{ page.twitter }}</a>
          </div>
          {% endif %}
        </div>
      </header>
      <div class="inpage__body">
        <div class="inner prose prose--responsive">
          <!-- inPage main content -->
          <div class="inpage__main-content prose prose--responsive">
            {{ content }}
          </div>
          <!--/ inPage main content -->
        </div>
      </div>
    </article>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->

{% comment %}
<!-- Get all the events for this speaker -->

{% assign user_events = site.events | where_exp: "item", "item.speakers contains page.title" %}

<!-- Loop over the speaker's talks -->
{% for event in user_events %}
<div style='border: 1px dashed grey'>
  <p>{{ event.time }} - <a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></p>
</div>
{% endfor %}
{% endcomment %}
