---
layout: base
use_excerpt: true
---
<!-- Page Body -->
<main class="page__body" role="main">

    <!-- inPage -->
    <article class="inpage inpage--single speaker speaker--single fold">
      <div class="inner">
        <div class="sidebar-left">
          <figure class="speaker__avatar">
            {% if page.avatar %}
              <div class="photoOverlay">
                <img src="{{ site.baseurl }}/assets/graphics/content/speakers/{{ page.avatar }}" alt="{{ page.title }} photo" />
              {% else %}
              <img src="{{ site.baseurl }}/assets/graphics/layout/speaker-thumb-placeholder.svg" alt="Speaker placeholder image" />
            </div>
            {% endif %}
          </figure>
        </div>
        <div class="sidebar-content-main">
          <header>
            <h1 class="inpage__title withDescription">{{ page.title }}</h1>
            {% if page.role %}
            <span class="speaker__detail">{{ page.role }}, {{ page.company }}</span>
            {% endif %}
            {% if page.twitter %}
            <a class="inpage-action-twitter" href="https://twitter.com/intent/user?screen_name={{ page.twitter }}" title="Follow on Twitter"><span>@{{ page.twitter }}</span></a>
            {% endif %}
          </header>
          <div class="inpage__body">

            <div class="inpage__main-content">
              {{ content }}
            </div>

            {% capture agenda_events_content %}
              {% for event in site.events %}
                {% for role in event.people %}

                  {% if role[1] contains page.title %}
                    {% assign has_agenda_events = true %}

                    {{ agenda_events_content }}
                    <li class="event-list__item">
                      <article class="event--tiny">
                        <div class="event__inner">
                          <header class="event__header">
                            <p class="event__suptitle">{{ event.type }} {{ role[0] | capitalize }}</p>
                            <h1 class="event__title">
                              <a href="{{ site.baseurl }}/agenda/#event-{{ event.title | slugify }}" title="View event">{{ event.title }}</a>
                            </h1>
                            {% capture time_start %}{{ event.date }} {{ event.time }}{% endcapture %}
                            <p class="event__detail">{{ event.room }} &bull; {{ time_start | date: "%a, %b %d &bull; %l:%M%p" }}</p>
                          </header>
                          {% if event.summary %}
                          <div class="event__body">
                            <div class="event__prose">
                              {{ event.summary | markdownify }}
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </article>
                    </li>
                  {% endif %}

                {% endfor %}
              {% endfor %}
            {% endcapture %}

            {% if has_agenda_events %}
            <aside class="inpage__related-content">
              <h2 class="heading--large">On the agenda</h2>

              <ol class="event-list event-list--single">
                {{ agenda_events_content }}
              </ol>
            </aside>
            {% endif %}

            <div>
              <a class="button go-button" href="{{ site.baseurl }}/speakers/" title="View all speakers"><span>View all speakers</span></a>
            </div>

          </div>
        </div>
      </div>
    </article>
    <!--/ inPage -->
</main>
<!--/ Page Body -->

{% comment %}
<!-- Get all the events for this speaker -->

{% assign user_events = site.events | where_exp: "item", "item.speakers contains page.title" %}

<!-- Loop over the speaker's talks -->
{% for event in user_events %}
<div style='border: 1px dashed grey'>
  <p>{{ event.time }} - <a href="{{ event.url }}">{{ event.title }}</a></p>
</div>
{% endfor %}
{% endcomment %}
