---
layout: base
use_excerpt: true
---
<!-- Page Body -->
<main class="page__body" role="main">

    <!-- inPage -->
    <article class="inpage inpage--single speaker speaker--single fold">
      <div class="inner">
        <div class="sidebar-left">
          <figure class="speaker__avatar">
            {% if page.avatar %}
              <div class="photoOverlay">
                <img src="{{ site.baseurl }}/assets/graphics/content/speakers/{{ page.avatar }}" alt="{{ page.title }} photo" />
              {% else %}
              <img src="{{ site.baseurl }}/assets/graphics/layout/speaker-thumb-placeholder.svg" alt="Speaker placeholder image" />
            </div>
            {% endif %}
          </figure>
        </div>
        <div class="sidebar-content-main">
          <header>
            <h1 class="inpage__title withDescription">{{ page.title }}</h1>
            {% if page.role %}
            <span class="speaker__detail">{{ page.role }}, {{ page.company }}</span>
            {% endif %}
            {% if page.twitter %}
            <a class="inpage-action-twitter" href="https://twitter.com/intent/user?screen_name={{ page.twitter }}" title="Follow on Twitter"><span>@{{ page.twitter }}</span></a>
            {% endif %}
          </header>
          <div class="inpage__body">
            {{ content }}
            <section class="speaker--content">
              <h2 class="heading--large">See {{ page.title }}:</h2>
              {% assign events = site.events | where: "speakers", page.title %}
              {% assign eventsMod = site.events | where: "moderator", page.title %}
              <ol class="event-list event-list--single">
                {% for event in eventsMod %}
                {% include related-event.html event=event is_moderator=true %}
                {% endfor %}

                {% for event2 in events %}
                {% include related-event.html event=event2 %}
                {% endfor %}
              </ol>
              {% if page.related_insights %}
                {% for rel_insight in page.related_insights %}
                {% assign insight = site.posts | where: "uid", rel_insight | first %}
                <a href="{{ site.baseurl }}{{ insight.url }}" title="View insight">Download presentation</a>
                {% endfor %}
              {% endif %}
            </section>

            <div class="">
              <a class="button go-button" href="{{ site.baseurl }}/speakers/" title="View all speakers"><span>View all speakers</span></a>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!--/ inPage -->
</main>
<!--/ Page Body -->

{% comment %}
<!-- Get all the events for this speaker -->

{% assign user_events = site.events | where_exp: "item", "item.speakers contains page.title" %}

<!-- Loop over the speaker's talks -->
{% for event in user_events %}
<div style='border: 1px dashed grey'>
  <p>{{ event.time }} - <a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></p>
</div>
{% endfor %}
{% endcomment %}
