---
layout: base
published: true
---
<!-- Page Body -->
<main class="page__body page__body--speakers" role="main">
  <div class="inner">

  <!-- inPage -->
    <header class="inpage__header--secondary">
      <div class="fold">
        <div class="inner">
          <h1 class="heading--xlarge">Speakers</h1>
        </div>
      </div>
    </header>
    <section class="inpage__body">
      <div class="fold">
        <div class="inner">
          <ol class="speaker-list">
            {% for speaker in site.speakers %}
            <li class="speaker-list__item">
              <a href="{{ site.baseurl }}{{ speaker.url }}" title="View profile">
                <div class="speaker--header--wrapper">
                  <div class="speaker--header--content">
                    <h2 class="speaker--header heading--large">{{ speaker.title }}</h2>
                    <span class="speaker--role">{{ speaker.role }}, {{ speaker.company }}</span>
                  </div>
                </div>
                <div class="photoOverlay">
                  {% if speaker.avatar %}
                  <img src="{{ site.baseurl }}/assets/graphics/content/speakers/{{ speaker.avatar }}" alt="{{ sponsor.title }} photo" />
                  {% else %}
                  <img src="{{ site.baseurl }}/assets/graphics/layout/speaker-thumb-placeholder.svg" alt="Speaker placeholder image" />
                  {% endif %}
                </div>
              </a>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </section>

    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->
