/* ==========================================================================
   Agenda: Global
   ========================================================================== */
.agenda-section__container {
  float: left;
  width: 20%;
  border-top: solid 7px $primary-link-color;
  margin-right: 2rem;
  padding-top: 2rem;
}

.agenda-section__time {
  font-family: $heading-font-family;
  font-weight: $base-font-regular;
  font-size: 1.25rem;
}

.event-list {
  float: left;
  width: 65%;
  border-top: solid 7px $primary-link-color;
  padding: 2rem 0;
}

.event__room {
  font-size: 0.875rem;
  color: #FFF;
  padding: 0.25rem 0.5rem;
  background-color: rgba(#000, 0.3);
  border-radius: 3px;
  font-weight: $base-font-bold;
}