/* ==========================================================================
   Agenda: Global
   ========================================================================== */

.agenda__day {
  font-weight: $base-font-bold;
  line-height: 2.25rem;

  span {
    display: block;
    font-weight: $base-font-regular;
    font-size: 1.5rem;
    font-style: italic;
  }
}

.agenda-section {
  display: flex;
  flex-wrap: wrap;
  @include media(small-up) {
    flex-wrap: nowrap;
  }
}

.agenda-section__container {
  display: inline-block;
  width: 100%;
  margin-right: 2rem;
  padding-top: 1rem;
  border-top: solid 7px $primary-link-color;
  @include media(small-up) {
    width: 20%;
    padding-top: 2rem;
  }
}

.agenda-section__time {
  font-family: $heading-font-family;
  font-weight: $base-font-regular;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: block;
}

.event-list {
  display: inline-block;
  width: 100%;
  border-top: solid 0px;
  padding: 2rem 0;

  @include media(small-up) {
    width: 65%;
    border-top: solid 7px $primary-link-color;
  }
}

.event-list__item {
  @extend .clearfix;
  margin-bottom: 3rem;
  &:last-child {
    margin-bottom: 0 ;
  }
}

.event__speaker-list {
  dt {
    font-weight: $base-font-bold;
  }
}

.event__title {
  @include heading(1.5rem, large-up);
  margin-bottom: $global-spacing / 2;

  > a {
    @extend .session-list__link;
  }
}

.event__type {
  font-family: $heading-font-family;
  font-weight: $base-font-regular;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin: 0;

  @include media(small-up) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.event__body {
  font-size: .86em;
  width: 77%;
}

.event__detail {

}

.event__room {
  font-size: 0.875rem;
  color: #FFF;
  padding: 0.15rem 0.5rem;
  background-color: $base-color;
  border-radius: 3px;
  font-weight: $base-font-bold;
  margin-bottom: 1rem;
  display: inline-block;
}

.event__room-dac-main-room {
  background-color: #19E9D4;
}

.event__room-impact-hub-dc {
  background-color: #F76D10;
}


.event__room-dac-salle-1 {
  background-color: #834AE4;
}

.event__room-dac-lobby {
  background-color: #DA5CF5;
}

.event__room-hill-country-bbq {
  background-color: #2037E9;
}

.event__prose {
  color: rgba($base-color, 0.7);
}

.event__speaker-list {
  margin: 0;

  dt {
    margin: 0 ($global-spacing / 2) 0 ($global-spacing / 2);

    &:first-of-type {
      margin-left: 0;
    }
  }

  dd {
    margin: 0 ($global-spacing / 2) 0 0;
  }

  dt, dd {
    display: inline-flex;
  }

  a {
    @extend .session-list__link;
  }
}


/* Event tiny
   ========================================================================== */

.event--tiny {
  .event__suptitle {
    font-family: $heading-font-family;
    font-weight: $base-font-regular;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin: 0;

    @include media(small-up) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
}
