/* ==========================================================================
   Agenda: Hub Page
   ========================================================================== */

.event-list--hub {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 -2px 0 0 #fff;

  .event-list__item {
    float: left;
    width: 50%;
  }
}

.event--short {
  position: relative;
  min-height: $global-spacing * 12;
  padding: $global-spacing;
  box-shadow: inset 0 -2px 0 0 #fff;

  .agenda-section--1e & {
    min-height: auto;
  }
}

.agenda-content {
  margin-bottom: $global-spacing * 2;
}

.agenda-section__title {
  @include heading(0.75rem, medium-up);
  background: rgba(#fff, 0.12);
  box-shadow: inset 0 -4px 0 0 #fff;
  padding: ($global-spacing / 2) $global-spacing;
  margin: 0;
}


/* Agenda legend
   ========================================================================== */

.agenda-legend {
  margin-bottom: $global-spacing * 2;
}

.agenda-legend__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.agenda-legend__item {
  position: relative;
  display: inline-block;
  padding: ($global-spacing / 4) ($global-spacing) ($global-spacing / 4) ($global-spacing * 1.75);
  margin: ($global-spacing / 4) ($global-spacing / 2) ($global-spacing / 4) 0;
  border-radius: $full-border-radius;
  color: $base-color;
  background: #fff;

  &::before {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    content: '';
    height: 0.75rem;
    width: 0.75rem;
    border-radius: $full-border-radius;
    background: $base-color;
    transform: translate(0, -50%);
  }
}

[class*=" event--cat"]::before {
  position: absolute;
  top: 0.75rem;
  right: $global-spacing;
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  border-radius: $full-border-radius;
  background: $base-color;
  box-shadow: 0 0 0 2px #fff;
  transform: translate(0, 0.25rem);
}

.event-legend__item--state-of-satellite-industry::before,
.event--cat-state-of-satellite-industry::before {
  background: #9b59b6;
}

.event-legend__item--satellite-data-in-development::before,
.event--cat-satellite-data-in-development::before {
  background: #16a085;
}

.event-legend__item--imagery-to-insight::before,
.event--cat-imagery-to-insight::before {
  background: #95a5a6;
}

.event-legend__item--data-into-action::before,
.event--cat-data-into-action::before {
  background: #e74c3c;
}