/* ==========================================================================
   Insights: Global
   ========================================================================== */


/* Listed
   ========================================================================== */

.insight-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
}

.insight-list__item {
  @include col(12/12);
  margin-top: $global-spacing * 2;

  &:nth-child(1) {
    margin-top: 0;
  }

  @include media(small-up) {
    @include col(6/12, $cycle: 2);

    &:nth-child(2) {
      margin-top: 0;
    }
  }
}