/* ==========================================================================
   Insights: Single Page
   ========================================================================== */

.insight--single .main-content {
  @include col(12/12);

  > *:last-child {
    margin-bottom: 0;
  }

  a:not(.button) {
    @extend .link, .link--indark;
  }

  @include media(medium-up) {
    @include col(10/12, $offset: 1/12);
  }

  @include media(large-up) {
    @include col(8/12, $offset: 2/12);
  }
}

.download-wrapper {
  clear: both;
  text-align: center;

  > * {
    margin-top: $global-spacing * 2;
    transform: skewY(-5deg);
    transform-origin: left bottom;
  }

  > *:active {
    transform: skewY(-5deg) translate(0, 1px);
  }

  &:last-child {
    margin-bottom: - $global-spacing !important;
  }
}

.download-button {
  @extend .button, .button--negative-bounded, .button--xlarge;

  &::before {
    @extend %collecticon-download;
  }

  @include media(medium-up) {
    min-width: 24rem;
  }
}