/* ==========================================================================
   Media
   ========================================================================== */

figure {
  padding: 0;
  margin: 0 0 $global-spacing 0;
}

img {
  vertical-align: middle;
}

iframe {
  display: block;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.image-full {
  width: 100%;
  height: auto;
}

/* Prose specific */

.prose > img,
.prose > figure img {
  max-width: 100%;
  height: auto;
}

.prose > figure figcaption {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 1rem;
  font-weight: $base-font-regular;
}
