/* ==========================================================================
   Typography
   ========================================================================== */


/* Prose
   ========================================================================== */

.prose {
  font-size: $base-font-size;                           // 16px
  line-height: $base-line-height;                       // 24px

  > * {
    margin-bottom: $base-font-size * $base-line-height; // same as line-height
  }

  > *:last-child {
    margin-bottom: 0;
  }
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

.prose--responsive {
  $prose-resp-font-size: 1.25rem;                       // 20px
  $prose-resp-line-height: 1.6;                         // 32px

  @include media(medium-up) {
    font-size: $prose-resp-font-size;
    line-height: $prose-resp-line-height;

    > * {
      margin-bottom: $prose-resp-font-size * $prose-resp-line-height; // same as line-height
    }
  }
}


/* Common elements
   ========================================================================== */

p, ul, ol, dl, pre, blockquote {
  margin: 0 0 $global-spacing 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Lead
   ========================================================================== */

.lead {
  font-size: 1.25rem;
  line-height: 1.6;
  opacity: 0.64;
}

/* Prose specific */

.prose--responsive {
  > .lead {
    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 1.6666667;
    }
  }
}

/* Lists
   ========================================================================== */

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

dt {
  font-family: $heading-font-family;
  font-weight: $heading-font-medium;
  letter-spacing: 0.05em;
}

dd {
  margin: 0 0 ($global-spacing / 2) 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.dl-horizontal {
  @extend .clearfix;
  dt, dd {
    float: left;
  }
  dt {
    width: 32%;
    clear: left;
    padding-top: $global-spacing / 8;
    padding-bottom: $global-spacing / 8;
    padding-right: $global-spacing / 2;
  }
  dd {
    width: 68%;
    padding-left: $global-spacing / 2;
  }
  dd + dd {
    margin-left: 32%;
  }
}

/* Prose specific */

.prose--responsive {
  > dl dt {
    @include media(medium-up) {
      padding-top: $global-spacing / 4;
      padding-bottom: $global-spacing / 4;
    }
  }
}


/* Prose specific */

.prose--responsive {
  blockquote {
    @include media(medium-up) {
      padding: $global-spacing ($global-spacing * 2);
    }

    footer {
      @include media(medium-up) {
        margin-top: 0;
      }
    }
  }
}

/* Emphasis
   ========================================================================== */

b, strong {
  font-weight: $base-font-bold;
}


/* Abbreviation
   ========================================================================== */

abbr[title] {
  cursor: help;
  border-bottom: 1px dashed $secondary-color;
  text-decoration: none;
  text-transform: initial;
}


/* Headings
   ========================================================================== */

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin-top: 0;
  margin-bottom: $global-spacing;
  text-transform: uppercase;
}

.heading--xlarge {
  @include heading(3.571rem, xlarge-up);   // 28, 32, 36, 40
}

.heading--large {
  @include heading(1.8rem, xlarge-up);    // 24, 28, 32, 36
  @include media(medium-up) {
    line-height: 1.1em;
  }
}

.heading--medium {
  font-size: 1.44em;
  line-height: 1.4em;
  @include media(medium-up) {
    @include heading(.97rem, xlarge-up);   // 20, 24, 28, 32
  }
}

.heading--small {
  font-size: 1em;
  @include media(medium-up) {
    @include heading(.68rem, xlarge-up);   // 20, 24, 28, 32
  }
}

.heading--xsmall,
.heading--xxsmall {
  @include heading(1rem, xlarge-up);      // 16, 20, 24, 28
}

.heading-alt {
  font-family: $heading-font-family;
  font-weight: $heading-font-regular;
  text-transform: uppercase;
}
