---
layout: base
published: false
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <section class="inpage inpage--hub insights">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline" data-hook="nav-offset">
            <h1 class="inpage__title">Insights</h1>
          </div>
        </div>
      </header>
      <div class="inpage__body">

        <div class="fold">
          <div class="inner">
            <ol class="insight-list insight-list--hub">
              {% assign sticky_posts = site.posts | where: 'sticky', true  %}
              {% for post in sticky_posts %}
              <li class="insight-list__item">
                {% include insight-short.html post=post %}
              </li>
              {% endfor %}
              {% for post in site.posts %}
              {% unless post.sticky %}
              <li class="insight-list__item">
                {% include insight-short.html post=post %}
              </li>
              {% endunless %}
              {% endfor %}
            </ol>
          </div>
        </div>

      </div>
    </section>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->