<!-- Fold: Code of Conduct -->
<section class="fold fold--light" id="code-of-conduct">
  <div class="inner">
    <header class="fold__header">
      <h1 class="fold__title">Code of Conduct</h1>
    </header>
    <div class="fold__body">
      <div class="prose prose--responsive">
        <blockquote cite="http://confcodeofconduct.com/">
          <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices.</p>
          <p>We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media.</p>
          <p>Conference participants violating these rules may be sanctioned or expelled from the conference <strong>without a refund</strong> at the discretion of the conference organisers.</p>
          <footer>Via <cite><a href="http://confcodeofconduct.com/" title="View original source">Conference Code of Conduct</a></cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<!--/ Fold: Code of Conduct -->