<!-- Page Footer -->
<footer class="page__footer" role="contentinfo">
  <div class="inner">
    <nav class="footer-nav">
      <ul class="elsewhere-menu">
        <li><a class="button email-button" href="mailto:info@satsummit.io" title="Send email"><span>Get in touch</span></a></li>
        <li><a class="button twitter-button" href="https://twitter.com/intent/user?screen_name=sat_summit" title="Follow us on Twitter"><span>Follow us</span></a></li>
        <li><a class="button go-button" href="http://2017.satsummit.io" title="Visit #SatSummit 2017 website"><span>2017 Satsummit</span></a></li>
        <li><a class="button go-button" href="http://2015.satsummit.io" title="Visit #SatSummit 2015 website"><span>2015 Satsummit</span></a></li>
      </ul>
    </nav>
    <div class="footer-credits">
      <p><a href="https://developmentseed.org" title="Visit Development Seed website">Development Seed</a> &amp; <a href="https://www.mapbox.com/" title="Visit Mapbox website">Mapbox</a></p> <p><span class="terms"><a href='/terms'>Terms and Conditions</a></span><span class="copyright">&copy; 2015-{{ site.time | date: '%Y' }}</span></p>
    </div>
  </div>
</footer>
<!--/ Page Footer -->
