<!-- Page Header -->
<header class="page__header" role="banner" data-hook="page-header">
  <div class="inner">
    <div class="page__headline">
      <h1 class="page__title">
        <a href="{{ site.baseurl }}" title="Visit homepage">
          <img class="logo-symbol logo-symbol--neg" src="{{ site.baseurl }}/assets/graphics/layout/satsummit-logo-symbol-neg.svg" width="256" height="160" alt="#SatSummit symbol - negative" />
          <img class="logo-symbol logo-symbol--pos" src="{{ site.baseurl }}/assets/graphics/layout/satsummit-logo-symbol-pos.svg" width="256" height="160" alt="#SatSummit symbol - positive" />
          <span>#SatSummit</span>
        </a>
      </h1>        
    </div>
    <nav class="page__prime-nav" role="navigation">
      <h2 class="toggle-menu"><a href="#global-menu" title="Show/hide menu" data-hook="global-menu:trigger"><span>Browse</span></a></h2>
      <div class="menu-wrapper" data-hook="global-menu:wrapper">
        <ul class="global-menu" id="global-menu">
          <li><a href="{{ site.baseurl }}/#about" title="View section" class="global-menu__link"><span>About</span></a></li>
          <li><a href="{{ site.baseurl }}/agenda/" title="View page" class="global-menu__link"><span>Agenda</span></a></li>
          <li><a href="{{ site.baseurl }}/speakers/" title="View page" class="global-menu__link"><span>Speakers</span></a></li>
          <li><a href="{{ site.baseurl }}/#venue" title="View section" class="global-menu__link"><span>Venue</span></a></li>
          <li><a href="{{ site.baseurl }}/insights/" title="View page" class="global-menu__link"><span>Insights</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/ Page Header -->