<!-- Page Header -->
<header class="page__header page__header--internal" role="banner" data-hook="page-header">
  <div class="inner">
    <div class="page__headline">
      <h1 class="page__title">
        <a href="{{ site.baseurl }}" title="Visit homepage">
          <img class="logo-symbol logo-symbol--pos" src="/assets/graphics/layout/satsummit-logo-symbol-pos.svg" width="256" height="160" alt="#SatSummit symbol - positive" />
          <span>#SatSummit</span>
        </a>
      </h1>
    </div>
    <nav class="page__prime-nav" role="navigation">
      <div class="toggle-menu">
        <h2 class="toggle-menu--item"><a href="#global-menu" title="Show/hide menu" data-hook="global-menu:trigger"><span>Browse</span></a></h2>
        <a href="https://www.eventbrite.com/e/satsummit-3-tickets-42123663010" title="View section" class="button button--small">Tickets</a>
      </div>
      <div class="menu-wrapper" data-hook="global-menu:wrapper">
        <ul class="global-menu" id="global-menu">
          <li><a href="/#about" title="View section" class="global-menu__link">About</a></li>
          <li><a href="/speakers" title="View section" class="global-menu__link">Speakers</a></li>
          <li><a href="/agenda" title="View section" class="global-menu__link">Agenda</a></li>
          <li><a href="/#sponsors" title="View section" class="global-menu__link">Sponsors</a></li>
          <li><a href="/#faq" title="View section" class="global-menu__link">FAQs</a></li>
          <li><a href="/code-of-conduct" title="View section" class="global-menu__link">Code of Conduct</a></li>
          <li><a href="https://www.eventbrite.com/e/satsummit-3-tickets-42123663010" title="View section" class="button">Get Tickets</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/ Page Header -->
