<!-- Fold: Lightning Talks -->
<section class="fold" id="lightning-talks">
  <div class="inner">
    <header class="fold__header">
      <h1 class="fold__title">Lightning Talks</h1>
    </header>
    <div class="fold__body">
      <div class="prose prose--responsive">
        <p>Ligtning talks provide an opportunity to share <em>practical applications</em> of integrating satellite data into global development programming. Talks are 5-7 minutes. They can cover any sector of development, and any type of remote sensing data. They can cover projects in the early concept phase or projects that have already been completed.</p>
        <p>If you are interested in delivering a lightning talk at SatSummit, please send a quick note to <a href="mailto:info@satsummit.io" title="Lighting Talk">info@satsummit.io</a> with your name, affiliation, and 3-5 sentences on what you propose to discuss. Please send your proposal by December 9th, 2016.</p>
      </div>
    </div>
    <footer class="fold__footer fold__footer--actions">
      <a class="fold__cta fold__cta--light fold__cta--email" href="mailto:info@satsummit.io" title="Send email"><span>Get in touch</span></a>
    </footer>
  </div>
</section>
<!--/ Fold: Lightning Talks -->