<!-- Fold: Sponsors -->
{% assign sponsors_by_group = site.sponsors | group_by: "group" %}


<div class="side-by-side sponsor-logos">
  {% for g in sponsors_by_group %}
  <div class="sponsor-group sponsor-group--{{ g.name | slugify }}">
    <h5 class="sponsor-group__title heading--small">Hosted By</h5>
    <ul class="sponsor-list">
      {% for sponsor in g.items %}
      <li class="sponsor-list__item">
        <a href="{{ sponsor.website }}" title="Visit website" class="sponsor sponsor--{{ sponsor.title | slugify }}">
          <span class="visually-hidden">{{ sponsor.title }}</span>
          <img src="/assets/graphics/content/sponsors/{{ sponsor.image }}" alt="{{ sponsor.title }} logo" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
<!--/ Fold: Sponsors -->
