/* ==========================================================================
   Cards
   ========================================================================== */

.card {
  background-color: #fff;
  -moz-box-shadow:    0px 2px 2px 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .1);
  box-shadow:         0px 2px 2px 1px rgba(0, 0, 0, .1);
  z-index: 14;
  position: relative;
  border: 1px solid lighten($secondary-color, 40%);
  margin-top: -3em;
  .button {
    margin-top: 2em;
  }
  @include media(xsmall-up) {
    padding: 3.5em 2.5em 4.5em;
    width: 100%;
  }
  @include media(medium-up) {
    padding: 3em 3.5em 8em;
    width: 46%;
    margin-top: 0em;
  }
  @include media(large-up) {
    padding: 5em 4.5em 9em;
    width: 43%;
  }
}

.card__inner {
  position: relative;
  z-index: 1;
  padding: $global-spacing * 1;

  @include media(small-up) {
    padding: $global-spacing * 2;
  }
}

.card__header,
.card__body {
  margin-bottom: $global-spacing;
}

.card__header {
  > *:not(.card__avatar) {
    position: relative;
    z-index: 2;
  }
}

.card__suptitle {
  @extend .heading;
  font-size: 0.75rem;
  line-height: 1;
  margin: 0;
  color: $primary-link-color;
  letter-spacing: 0.25em;
  margin-bottom: $global-spacing / 2;

  @include media(medium-up) {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

.card__title {
  @include heading(1.25rem);
  margin-bottom: 0;
}

.card__detail {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: none;
  opacity: 0.64;
  margin-bottom: 0;

  @include media(medium-up) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.card__avatar {
  margin: (-$global-spacing / 2) 0 (-$global-spacing) (-$global-spacing / 2);
  max-width: 10rem;

  > a {
    display: block;
  }

  @include media(small-up) {
    margin: (-$global-spacing) 0 (-$global-spacing) (-$global-spacing);
  }
}

.card__footer {
  clear: both;

  &--actions > * {
    margin-top: $global-spacing;
    transform: skewY(-5deg);
    transform-origin: left bottom;
  }

  &--actions > *:active {
    transform: skewY(-5deg) translate(0, 1px);
  }

  @include media(medium-up) {
    &--actions > * {
      margin-top: $global-spacing * 2;
    }
  }
}

.button-light-go {
  @extend .button, .button--achromic, .button--small;

  &::after {
    @extend %collecticon-arrow-right;
  }
}

.button-dark-go {
  @extend .button, .button--small;

  &::after {
    @extend %collecticon-arrow-right;
  }
}


/* Modifiers
   ========================================================================== */

.card--inlight {
  .card__inner {
    &::before {
      box-shadow: inset 0 0 0 3px $base-color;
    }
  }
}


.card--sticky {
  .card__inner::before {
    box-shadow: inset 0 0 0 3px $primary-link-color;
  }

  .card__inner::after {
    @extend %collecticon-star-full;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: $primary-link-color;
    z-index: 10;

    @include media(medium-up) {
    }
  }
}
