/* ==========================================================================
   Global: Folds
   ========================================================================== */

.fold {
  padding: ($global-spacing * 3) 0;
  box-shadow: inset 0 -4px 0 0 $base-semi-alpha-color;

  > .inner {
    @extend .row, .row--centered;
  }

  &,
  > .inner,
  .fold__header,
  .fold__introduction,
  .fold__body,
  .fold__footer {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  @include media(medium-up) {
    padding: ($global-spacing * 4) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 6) 0;
  }

}

.fold__header {
  margin-bottom: $global-spacing * 2;
  text-align: center;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media(medium-up) {
    margin-bottom: $global-spacing * 3;
  }

  @include media(large-up) {
    margin-bottom: $global-spacing * 4;
  }
}

.fold__introduction {
  @include col(12/12);

  @include media(medium-up) {
    @include col(10/12);
  }

  @include media(large-up) {
    @include col(8/12);
  }
}

.fold__title {
  @include heading(1.5rem, xlarge-up);
  letter-spacing: 0.25em;
  transform: skewY(-5deg);

  &::after {
    content: '';
    width: 4rem;
    height: 0.25rem;
    background: #fff;
    display: block;
    margin: 0.5em auto 0 auto;
    border-radius: $base-border-radius / 4;
  }
}

.fold__body {
  @extend .clearfix;
}

.fold__footer {
  clear: both;
  margin-top: $global-spacing;
  text-align: center;

  &--actions > * {
    margin-top: $global-spacing * 2;
    transform: skewY(-5deg);
    transform-origin: left bottom;
  }

  &--actions > *:active {
    transform: skewY(-5deg) translate(0, 1px);
  }

  @include media(medium-up) {
    margin-top: $global-spacing * 2;

    &--actions > * {
      margin-top: $global-spacing * 4;
    }
  }
}


/* Modifiers
   ========================================================================== */

.fold--light {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background: #fff;
  color: $base-color;

  .fold__title {
    &::after {
      background: $base-color;
    }
  }
}

.fold {
  hr, .hr {
    background: #fff;
  }
}


/* Links
   ========================================================================== */

.prose a {
  .fold & {
    @extend .link, .link--indark;
  }

  .fold--light & {
    @extend .link--inlight;
  }
}



/* Call-to-actions
   ========================================================================== */

.fold__cta {
  @extend .button, .button--xlarge;

  @include media(medium-up) {
    min-width: 24rem;
  }
}

.fold__cta--light {
  @extend .button--achromic;
}

.fold__cta--dark {
  @extend .button--base;
}

.fold__cta--go {
  &::after {
    @extend %collecticon-arrow-right;
  }
}

.fold__cta--twitter {
  &::before {
    @extend %collecticon-twitter;
  }
}

.fold__cta--email {
  &::before {
    @extend %collecticon-envelope;
  }
}