/* ==========================================================================
   Global: Folds
   ========================================================================== */

.fold {
  padding: ($global-spacing * 3) 0;

  > .inner {
    @extend .row, .row--centered;
  }

  &,
  > .inner,
  .fold__header,
  .fold__introduction,
  .fold__body,
  .fold__footer {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  @include media(medium-up) {
    padding: ($global-spacing * 4) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 6) 0;
  }

}

.fold__header {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media(medium-up) {
    margin-bottom: $global-spacing * 2;
  }

  @include media(large-up) {
    margin-bottom: $global-spacing * 3;
  }
}

.fold__introduction {
  @include col(12/12);

  @include media(medium-up) {
    @include col(10/12);
  }

  @include media(large-up) {
    @include col(8/12);
  }
}

.fold__title {
  @include heading(2.11rem, xlarge-up);
  margin-bottom: .7em;

}

.fold__body {
  @extend .clearfix;
}

.fold__footer {
  clear: both;
}

.fold--about {
  background-color: #fff;
  padding: 0 0 5em;
}

.fold-proposals {
  background-color: #fff;
  padding: 6rem 0 4em;
  @include media(medium-up) {
    padding: 6rem 0 8em;
  }
  .side-by-side {
    @include media(xsmall-up) {
      &:nth-of-type(2) {
        width: 100%;
      }
    }
    @include media(medium-up) {
      &:nth-of-type(2) {
        width: 40%;
      }
      &:first-of-type {
        margin-left: 5%;
      }
    }
  }
  .list--vertical {
    margin-top: 3em;
    @include media(medium-up) {
      margin-top: -5em;
    }
  }
}

.fold-sessions, .fold-speakers, .section--sponors, .fold--about, {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 8px solid $primary-link-color;
  }
  &:after {
    background-color: #fff;
    border-bottom: 8px solid $primary-link-color;
    bottom: 0em;
    transform: skewY(-10deg);
    transform-origin: 100% 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
}

.fold-sessions, .fold--about, .fold-speakers, .section--sponors {
  position: relative;
  z-index: 1;
  &:before {
    background: inherit;
    content: '';
    display: block;
    height: 80%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:before {
    transform: skewY(-10deg);
    transform-origin: 100% 0;
    top: -3em;
    @include media(medium-up) {
      top: -16.3em;
    }
  }
}

.fold--about {
  &:before {
    top: -7em;
    @include media(medium-up) {
      top: -16.3em;
    }
  }
}

.section--sponsors {
  position: relative;
  overflow-y: hidden;
  &:before {
    content: " ";
    background-image: url(../graphics/layout/img-header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transform: rotate(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -7.5em;
    z-index: -1;
  }
}

/* Modifiers
   ========================================================================== */

.fold--light {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background: #fff;
  color: $base-color;

  .fold__title {
    &::after {
      background: $base-color;
    }
  }
}

.fold {
  hr, .hr {
    background: #fff;
  }
}


/* Links
   ========================================================================== */

.prose a {
  .fold & {
  }

  .fold--light & {
  }
}



/* Call-to-actions
   ========================================================================== */

.fold__cta {
  @extend .button, .button--xlarge;

  @include media(medium-up) {
    min-width: 24rem;
  }
}

.fold__cta--light {
  @extend .button--achromic;
}

.fold__cta--go {
  &::after {
    @extend %collecticon-arrow-right;
  }
}

.fold__cta--twitter {
  &::before {
    @extend %collecticon-twitter;
  }
}

.fold__cta--email {
  &::before {
    @extend %collecticon-envelope;
  }
}
