/* ==========================================================================
   Global: inPage
   ========================================================================== */

$page-header-y-small: 3.5rem;
$page-header-y-medium-up: 4rem;
$page-header-y-large-up: 6rem;

.inpage {
  &__header {
    position: relative;
    color: #fff;
    background-image: url(../graphics/layout/img-header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: {
      top: ($global-spacing * 3) + $page-header-y-small;
      right: 0;
      bottom: ($global-spacing * 3);
      left: 0;
    }
    margin-top: - $page-header-y;

    > .inner {
      @extend .row, .row--centered;
    }

    .logo-symbol {
      width: 30px;
      transform: rotate(-50deg);
      height: 45px;
      @include media(medium-up) {
        width: 40px;
        height: 100px;
      }
    }

    .fade {
      position: absolute;
      background: linear-gradient(transparent, $base-color);
      width: 100%;
      height: 80%;
      bottom: 0;
    }
    @include media(xsmall-up) {
      min-height: 430px;
    }

    @include media(medium-up) {
      padding: {
        top: ($global-spacing * 4) + $page-header-y-medium-up;
        bottom: ($global-spacing * 4);
      }
    }

    @include media(large-up) {
      padding: {
        top: ($global-spacing * 6) + $page-header-y-large-up;
        bottom: ($global-spacing * 6);
      }
    }
  }

  &__headline {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__suptitle {
    @extend .heading;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    color: $primary-link-color;
    letter-spacing: 0.25em;
    margin-bottom: 0.25rem;

    @include media(medium-up) {
      font-size: 1.25rem;
    }

    > small {
      font-size: 0;
      position: relative;
      margin: 0 -0.25rem;

      &::before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 0.5rem;
        height: 8rem;
        top: 50%;
        left: calc(50% - 0.125rem);
        background: $primary-link-color;
        transform: skew(-11deg) translate(-50%, -50%);
        transform-origin: right top;
        opacity: 0.24;
      }
    }
  }

  &__introduction {
    font-size: 1.25rem;
    line-height: 2rem;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__detail {
    @extend .heading-alt;
    font-size: 1.25rem;
    line-height: 2rem;
    text-transform: none;
    color: rgba(#fff, 0.64);

    a {
    }

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }
  &__header--secondary {
    @include media(medium-down) {
      margin-top: 5em;
    }
    .fold {
      padding-bottom: 1em;
    }
    p {
      width: 60%;
      @include media(medium-down) {
        width: 100%;
      }
    }
  }
}

/*.inpage__body {
  .fold {
    padding-top: 2em;
  }
}*/

.side-by-side {
  @include media(xsmall-up) {
    float: none;
    width: 100%;
    &:first-of-type {
      margin-right: 0%;
    }
  }
  @include media(medium-up) {
    float: left;
    width: 35%;
    &:first-of-type {
      margin-right: 5%;
    }
  }
}

.list--vertical {
  li {
    &:first-of-type {
      margin-bottom: 3em;
      @include media(medium-up) {
        margin-bottom: 4em;
      }
    }
  }
}


/* inPage modifiers
   ========================================================================== */


.inpage--single {
  .inpage__headline {
    @include media(medium-up) {
      @include col(10/12);
    }

    @include media(large-up) {
      @include col(8/12);
    }
  }

  .inpage__title {
    @extend .heading, .heading--xlarge;
  }

  .withDescription {
    margin-bottom: .01em;
  }
}


/* Misc (clean me)
   ========================================================================== */

.inpage__main-content {
  margin-bottom: $global-spacing * 4;

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__related-content {
  h2 {
    margin-bottom: $global-spacing * 2;
  }
}

.inpage__actions {
  @include col(12/12);
  transform: skewY(-5deg);
  transform-origin: left;
  padding-top: $global-spacing * 2;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media(large-up) {
    @include col(4/12);
    padding-top: $global-spacing * 5;
    text-align: right;
  }
}

.inpage-action-twitter {
  display: inline-block;
  color: #fff;
  background-color: $primary-link-color;
  padding: 0em 1em;
  font-size: .86em;
  margin-top: 1em;
  span {
    margin-left: .3em;
    float: left;
  }
  &:before {
    float: left;
    display: block;
    padding-top: .5em;
  }
}

.inpage-action-download {
  @extend .button, .button--achromic, .button--medium;
  vertical-align: bottom;

  @include media(medium-up) {
    min-width: 16rem;
    padding: $global-spacing / 2;
  }
}

.inpage-action-twitter:before {
  @extend %collecticon-twitter;
}

.inpage-action-download:before {
  @extend %collecticon-download;
}

.venue--img {
  border-top: 7px solid #19E9D4;
  margin-bottom: 3em;
}
