/* ==========================================================================
   Global: inPage
   ========================================================================== */

$page-header-y-small: 3.5rem;
$page-header-y-medium-up: 4rem;
$page-header-y-large-up: 6rem;

.inpage {
  &__header {
    position: relative;
    color: #fff;
    padding: {
      top: ($global-spacing * 3) + $page-header-y-small;
      right: 0;
      bottom: ($global-spacing * 3);
      left: 0;
    }
    margin-top: - $page-header-y;

    > .inner {
      @extend .row, .row--centered;
    }

    @include media(medium-up) {
      padding: {
        top: ($global-spacing * 4) + $page-header-y-medium-up;
        bottom: ($global-spacing * 4);
      }
    }

    @include media(large-up) {
      padding: {
        top: ($global-spacing * 6) + $page-header-y-large-up;
        bottom: ($global-spacing * 6);
      }
    }
  }

  &__headline {
    @include col(12/12);

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__suptitle {
    @extend .heading;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    color: $primary-color;
    letter-spacing: 0.25em;
    margin-bottom: 0.25rem;

    @include media(medium-up) {
      font-size: 1.25rem;
    }

    > small {
      font-size: 0;
      position: relative;
      margin: 0 -0.25rem;

      &::before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 0.5rem;
        height: 8rem;
        top: 50%;
        left: calc(50% - 0.125rem);
        background: $primary-color;
        transform: skew(-11deg) translate(-50%, -50%);
        transform-origin: right top;
        border-radius: $base-border-radius / 4;
        opacity: 0.24;
      }
    }
  }

  &__introduction {
    font-size: 1.25rem;
    line-height: 2rem;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__detail {
    @extend .heading-alt;
    font-size: 1.25rem;
    line-height: 2rem;
    text-transform: none;
    color: rgba(#fff, 0.64);

    a {
      @extend .link, .link--indark;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__body {
    background: rgba(40, 41, 174, 0.62);

    > *:last-child {
      margin-bottom: 0;
    }
  }
}


/* inPage modifiers
   ========================================================================== */

.inpage--hub {
  .inpage__headline {
    text-align: center;

    &::after {
      content: '';
      left: 50%;
      width: $global-spacing * 6;
      height: $global-spacing / 4;
      background: #fff;
      display: inline-block;
      border-radius: $base-border-radius / 4;
      margin-top: 1.5em;
      transform: skewY(-5deg);
    }

    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }

  .inpage__title {
    @include heading(2rem, xlarge-up);
    letter-spacing: 0.25em;
    transform: skewY(-5deg);
  }
}

.inpage--single {
  .inpage__headline {
    @include media(medium-up) {
      @include col(10/12);
    }

    @include media(large-up) {
      @include col(8/12);
    }
  }

  .inpage__title {
    @extend .heading, .heading--xlarge;
  }
}


/* Misc (clean me)
   ========================================================================== */

.inpage__main-content {
  @include col(12/12);

  > *:last-child {
    margin-bottom: 0;
  }

  a {
    @extend .link, .link--indark;
  }

  @include media(medium-up) {
    @include col(10/12);
  }

  @include media(large-up) {
    @include col(8/12);
  }
}

.inpage__actions {
  @include col(12/12);
  transform: skewY(-5deg);
  transform-origin: left;
  padding-top: $global-spacing * 2;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media(large-up) {
    @include col(4/12);
    padding-top: $global-spacing * 5;
    text-align: right;
  }
}

.inpage-action-twitter,
.inpage-action-download {
  @extend .button, .button--achromic, .button--medium;
  vertical-align: bottom;

  @include media(medium-up) {
    min-width: 16rem;
    padding: $global-spacing / 2;
  }
}

.inpage-action-twitter:before {
  @extend %collecticon-twitter;
}

.inpage-action-download:before {
  @extend %collecticon-download;
}