/* Header
   ========================================================================== */

.page__header {
  @extend .antialiased;
  z-index: 100;
  width: 100%;
  background: #fff;
  color: $base-color;
  padding: $global-spacing 0;
  transition: all 0.32s ease-in-out 0s;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,.1);

  > .inner {
    @extend .row, .row--centered;
  }
  @include media(medium-down) {
    position: fixed;
    padding: .8em 0 0;
  }
  @include media(large-up) {
    padding: ($global-spacing * .8) 0;
    background: transparent;
    color: #fff;
    box-shadow: none;
  }

  &--light {
    background: #fff;
    color: $base-color;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.4);
    padding: .8em 0 .2em;
    display: block;
    .button {
      padding: 0.2rem 1.2rem;
    }
    @include media(medium-up) {
      padding: .4em 0;
    }
  }
  &--dark {
    display: none;
  }

  .page__headline {
    float: left;
    text-align: left;
  }
}

.page__header--internal {
  margin-bottom: 3em;
  .global-menu__link, .global-menu__link:visited {
    color: $base-color;
  }
}

.homepage__header {
  @include media(large-up) {
    display: none;
  }
}

/* Headline */

.page__headline {
  text-align: center;
}

.page__title {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: -0.26rem;
  margin: 0;
  text-transform: none;

  a {
    display: block;
    box-shadow: none;
    word-spacing: normal;
    color: $base-color;

    > * {
      display: inline-block;
      word-spacing: normal;
      @include media(large-up) {
        font-size: 1.38em;
        margin-top: .25em;
      }
    }
  }

  .logo-symbol {
    margin-right: $global-spacing / 2;
    width: 1.5rem;
    height: auto;
    @include media(medium-up) {
      width: 2rem;
    }
  }

  @include media(medium-up) {
    font-size: 1.25rem;
    line-height: 2rem;

    logo-symbol {
      margin-right: $global-spacing;
      width: 2rem;
    }
  }
}

/* Navigation */

.page__prime-nav {
  font-weight: $heading-font-medium;

  @include media(medium-up) {
    float: right;
  }

  .toggle-menu {
    position: absolute;
    top: 0.75rem;
    right: $global-spacing / 2;
    margin: -.3em 0 0;
    border: 0px;
    width: 40%;

    a {
      @extend .button--text-hidden;
      vertical-align: top;
    }

    .button--small {
      float: right;
    }

    @include media(small-up) {
      right: $global-spacing * 1.5;
    }

    @include media(medium-up) {
      top: 1rem;
    }

    @include media(large-up) {
      display: none;
    }
  }
}

.toggle-menu--item {
  float: right;
  margin-left: 1em;
  margin-top: -.2em;
  a {
    &:before {
      @extend %collecticon-hamburger-menu;
    }
  }
}

.menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  clear: both;
  background: #fff;
  padding: $global-spacing;
  box-shadow: 0 8px 32px 0 #000;

  /* Animation */

  margin-top: - $global-spacing;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s;

  &.menu-wrapper--open {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }

  @include media(small-up) {
    padding: $global-spacing ($global-spacing * 2);
  }

  @include media(large-up) {
    position: initial;
    float: left;
    width: auto;
    margin-top: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    visibility: visible;
  }
}

.global-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  word-spacing: -0.26rem;

  > li {
    display: block;
    word-spacing: normal;
    margin: 0 0 ($global-spacing / 2) (-$global-spacing / 4);
  }

  @include media(medium-up) {
    text-align: center;

    > li {
      display: inline-block;
      margin: 0 $global-spacing 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.global-menu__link {
  display: inline-block;
  line-height: 2rem;
  font-size: 1.28rem;
  font-weight: $heading-font-regular;
  font-family: $heading-font-family;
  padding: 0 ($global-spacing / 2);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid rgba(255,255,255, 0);

  &, &:visited {
    color: inherit;
  }

  &--active {
    background: rgba($base-color, 0.08);
  }

  &--cta {
    background: rgba($base-color, 0.08);

    .page__header--light & {
      background: rgba($base-color, 0.08);
    }

    @include media(large-up) {
      background: rgba(#fff, 0.16);
    }
  }
  &:hover {
    border-bottom: 2px solid $primary-link-color;
  }
}


/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
}


/* Footer
   ========================================================================== */

.page__footer {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;

  > .inner {
    @extend .row, .row--centered;
  }

  *:last-child {
    margin-bottom: 0;
  }

  @include media(medium-up) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.footer-nav {
  margin-bottom: $global-spacing * 2;

  @include media(large-up) {
    @include col(8/12);
    text-align: left;
    margin-bottom: 0;
  }
}

.elsewhere-menu {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    word-spacing: normal;
    margin: $global-spacing / 2;
  }

  @include media(large-up) {
    > li {
      margin: 0 ($global-spacing / 2) 0 0;
    }
  }
}

.footer-credits {
  p {
    margin-bottom: 0.25rem;
  }
  span {
    &:first-child {
      margin-right: 1rem;

    };
  }
  @include media(large-up) {
    @include col(4/12);
    text-align: right;
  }
}

.email-button,
.twitter-button,
.go-button {
  min-width: 11rem;

  @include media(small-up) {
    min-width: auto;
  }
}

.go-button {

  &::after {
    @extend %collecticon-arrow-right;
  }
}

.email-button::before {
  @extend %collecticon-envelope;
}

.twitter-button::before {
  @extend %collecticon-twitter;
}
