/* ==========================================================================
   Homepage: About Fold
   ==========================================================================*/

#about {
  .fold__body {
    @include media(xsmall-up) {
      width: 100%;
      float: none;
      margin-left: 0;
      margin-top: 0em;
      margin-bottom: 3em;
    }
    @include media(medium-up) {
      float: left;
      width: 40%;
      margin-top: -6em;
      margin-left: 11%;
      padding-top: 2em;
      margin-bottom: 0em;
    }
  }
}

.img-bg {
  border-top: 7px solid $primary-link-color;
  float: left;
  height: auto;
  margin-bottom: 2em;

  &:first-of-type {
    @include media(xsmall-up) {
      display: none;
    }
    @include media(medium-up) {
      display: block;
      margin-top: 8em;
      width: 45%;
      float: left;
    }
  }
  &:nth-of-type(2) {
    clear: left;
    margin-right: 2%;
    width: 32.7%;
  }
  &:nth-of-type(3) {
    width: 64.5%;
    float: right;
  }
  &:nth-of-type(4) {
    width: 100%;
    float: right;
    @include media(medium-up) {
      width: 64.5%;
    }
  }
}
