/* ==========================================================================
   Homepage: About Fold
   ==========================================================================

#about {
  .prose {
    @include col(12/12);

    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }
}
*/

#about {
  .fold__body {
    float: left;
    width: 40%;
    margin-top: -6em;
    margin-left: 11%;
    padding-top: 2em;
  }
}

.img-bg {
  border-top: 7px solid $primary-link-color;
  float: left;
  height: auto;
  margin-bottom: 2em;

  &:first-of-type {
    margin-top: 8em;
    width: 45%;
  }
  &:nth-of-type(2) {
    clear: left;
    margin-right: 3%;
    width: 31.5%;
  }
  &:nth-of-type(3) {
    width: 62%;
  }
  &:nth-of-type(4) {
    float: right;
  }
}
