/* ==========================================================================
   Homepage: Agenda Fold
   ========================================================================== */

#agenda {
  .agenda {
    @include col(12/12);

    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }
}

.agenda__group {
  margin-bottom: $global-spacing * 4;

  > *:last-child {
    margin-bottom: 0;
  }
}

.agenda__title {
  @include heading(1.25rem, medium-up);
}

.agenda__list {
  box-shadow:  0 2px 0 0 $base-color;
  overflow: hidden;

  ul {
    margin: 0;
  }
  
  .alt-row {
    background: rgba($base-color, 0.06);
  }

  dt {
    box-shadow: inset 0 2px 0 0 $base-color;
    padding: ($global-spacing / 2) ($global-spacing / 2) 0 ($global-spacing / 2);

    &:first-of-type {
      box-shadow: inset 0 4px 0 0 $base-color;
    }
  }

  dd {
    margin-bottom: 0;
    padding: 0 ($global-spacing / 2) ($global-spacing / 2) ($global-spacing / 2);
  }
}

@include media(medium-up) {
  .agenda__list dt,
  .agenda__list dd {
    float: left;
    padding: $global-spacing;
    box-shadow: inset 0 2px 0 0 $base-color;
  }

  .agenda__list dt:first-of-type,
  .agenda__list dd:first-of-type {
    box-shadow: inset 0 4px 0 0 $base-color;
  }

  .agenda__list dt {
    width: 32%;
    clear: left;
  }

  .agenda__list dd {
    width: 68%;
    margin-bottom: 0;
  }
}

.agenda__value-title {
  font-style: normal;
}

.agenda__value-description {
  padding-left: $global-spacing;
  font-size: 80%;
  margin-top: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}