/* ==========================================================================
   Homepage: Global
   ========================================================================== */

.inpage--homepage {

  .header--metadata {
    span {
    font-family: $heading-font-family;
    font-weight: $heading-font-bold-italic;
    font-style: italic;
    font-size: 1.19em;
    display: inline-block;
    @include media(medium-up) {
      margin-bottom: .5em;
      font-size: 1.48em;
    }

      &:first-of-type {
        padding-right: .7em;
        &:after {
          content: '•';
          display: inline-block;
          padding-left: .7em;
        }
      }
    }
  }

  .inpage__header {
    text-align: center;

    > .inner {
      position: absolute;
      top: 55%;
      left: 0;
      width: 100%;
      transform: translate(0, -50%);
      @include media(medium-up) {
        top: 35%;
      }
    }

    @include media(medium-up) {
      min-height: 50rem;
    }
  }

  .inpage__title {
    text-transform: uppercase;
    font-size: 14vw;
    line-height: 1;
    margin-bottom: .02em;
    @include media(medium-up) {
      font-size: 7vw;
    }
  }

  .inpage__details {
    font-family: $heading-font-family;
    font-size: 5vw;
    font-weight: $heading-font-medium;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    color: $primary-link-color;
    margin-bottom: 0;
    line-height: 1.5;

    @include media(medium-up) {
      font-size: 4vw;
    }
  }

  .inpage__introduction {
    font-family: $heading-font-family;
    font-size: 1.15rem;
    font-weight: $heading-font-light;
    max-width: 56rem;
    margin: 0 auto;
    line-height: 1.25;

    @include media(medium-up) {
      font-size: 2.30vw;
    }
  }

  nav {
    margin-top: 4em;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin-right: 2em;
      }
    }
    @include media(medium-down) {
      visibility: hidden;
    }
  }


  .inpage__body {
    padding: 0;
  }

  .hero-media {
    position: absolute;
    bottom: $global-spacing;
    right: $global-spacing;
    margin: 0;

    img {
      @extend .visually-hidden;
    }

    figcaption {
      display: inline-block;
      background: rgba(shade($base-color, 80%), 0.32);
      font-size: 0.75rem;
      line-height: 1;
      padding: ($global-spacing / 4);

      @include media(medium-up) {
        padding: ($global-spacing / 2);
      }
    }
  }
}
