/* ==========================================================================
   Homepage: Global
   ========================================================================== */

.inpage--homepage {

  .inpage__header {
    position: relative;
    height: 100vh;
    text-align: center;

    > .inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      max-width: none;
      transform: translate(0, -50%);
    }

    @include media(medium-up) {
      min-height: 40rem;
    }
  }

  .inpage__headline {
    @include col(12/12);
    transform: skewY(-5deg);

    &::before,
    &::after {
      content: '';
      left: 50%;
      width: 5rem;
      height: 0.25rem;
      background: #fff;
      display: block;
      margin: 0 auto;
      border-radius: $base-border-radius / 4;

      @include media(medium-up) {
        width: 8rem;
        height: 0.5rem;
        border-radius: $base-border-radius / 2;
      }

      @include media(large-up) {
        width: 10rem;
        height: 0.625rem;
        border-radius: $base-border-radius / 1.5;
      }
    }

    &::before {
      margin-bottom: 1.5em;

      @include media(medium-up) {
        margin-bottom: 2.5em;
      }

      @include media(large-up) {
        margin-bottom: 4em;
      }
    }

    &::after {
      margin-top: 1.5em;

      @include media(medium-up) {
        margin-top: 2.5em;
      }

      @include media(large-up) {
        margin-top: 4em;
      }
    }
  }

  .inpage__title {
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 7vw;
    line-height: 1;
    margin: 0;
  }

  .inpage__details {
    font-family: $heading-font-family;
    font-size: 5vw;
    font-weight: $heading-font-bold;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    color: $primary-color;
    margin-bottom: 0;
    line-height: 1.5;

    @include media(medium-up) {
      font-size: 4vw;
    }
  }

  .inpage__introduction {
    font-family: $heading-font-family;
    font-size: 1rem;
    font-weight: $heading-font-bold;
    letter-spacing: 0.05em;
    max-width: 56rem;
    margin: 0 auto;
    line-height: 1.25;

    @include media(medium-up) {
      font-size: 2vw;
    }
  }

  .inpage__body {
    padding: 0;
  }

  .hero-media {
    position: absolute;
    bottom: $global-spacing;
    right: $global-spacing;
    margin: 0;

    img {
      @extend .visually-hidden;
    }

    figcaption {
      display: inline-block;
      background: rgba(shade($base-color, 80%), 0.32);
      font-size: 0.75rem;
      line-height: 1;
      padding: ($global-spacing / 4);
      border-radius: $base-border-radius / 2;

      @include media(medium-up) {
        padding: ($global-spacing / 2);
      }
    }
  }
}