/* ==========================================================================
   Homepage: Sessions Fold
   ========================================================================== */

.fold-sessions {
  padding: 3em 0 2rem;

  @include media(medium-up) {
    padding: 7rem 0 1em;
  }
}

.session-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.session-list__item {
  padding-top: 1.5em;

  img {
    width: 100%;
  }

  p {
    line-height: 1.8em;
  }

  @include media(xsmall-up) {
    width: 40%;
    margin-right: 10%;
    position: relative;
    border-top: 7px solid $primary-link-color;
    margin-bottom: 1em;
  }

  @include media(medium-up) {
    width: 20%;
    margin-right: 5%;
  }
}

.session-list--featured {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.session-list__link {
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);

  &:hover {
    border-bottom: 2px solid #19E9D4;
  }
}
