/* ==========================================================================
   Homepage: Speakers Fold
   ========================================================================== */
.speaker-list__item {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    content: '';
    background: rgba(8, 0, 255, .19);
    max-height: 39%;
  }
  img {
    width: 100%;
    margin-bottom: 1em;
  }
  &:last-of-type {
    margin-right: 0;
  }
  .heading--medium {
    margin-bottom: .1em;
  }
  p {
    color: $secondary-color;
    line-height: 1.8em;
  }
  @include media(xsmall-up) {
    width: 40%;
    float: left;
    margin-right: 7%;
    position: relative;
    border-top: 7px solid $primary-link-color;
    margin-bottom: 1em;
  }
  @include media(small-up) {
    width: 22%;
    margin-right: 4%;
    margin-bottom: 0em;
  }
  @include media(medium-up) {
    width: 19%;
    margin-right: 7%;
  }
}

.speaker__detail {
  font-size: .86em;
  line-height: 1.6em;
  font-style: italic;
  margin-bottom: 1em;
  display: inline-block;
  color: #2C2B2B;
}
