/* ==========================================================================
   Homepage: Sponsors Fold
   ========================================================================== */

#sponsors {
  .sponsor-logos {
    @include media(xsmall-up) {
      margin-top: 2em;
      width: 80%;
      padding-bottom: 2em;
    }
    @include media(medium-up) {
      margin-top: 12em;
      width: 45%;
      padding-bottom: 0em;
    }
  }
  .side-by-side {
    &:first-of-type {
      margin-right: 9%;
    }
  }
}

.sponsor-group {
  @include center(60rem);
  margin-bottom: $global-spacing * 2;

  &__title {
    @extend .heading;
    font-weight: $base-font-bold;
    margin-bottom: $global-spacing * 1.5;
    color: $primary-link-color;
    font-size: 2rem;
  }

  @include media(medium-up) {
    margin-bottom: $global-spacing * 4;
  }
}

.sponsor-list, .host-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sponsor-list__item {
  width: 45%;
  margin-bottom: $global-spacing;
  float: left;
  @include media(medium-up) {
    margin-bottom: $global-spacing * 2;
  }
  &:nth-of-type(odd) {
    margin-right: 7%;
  }
  &:nth-of-type(3) {
    clear: left;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

/* Allow sponsor rows with only 1 entry to go longer. */
/* This accommodates, ie, subheads. */
.sponsor-list__item__size__1 {
   width: 75%;
}

.sponsor-label {
  color: $primary-link-color;
  text-transform: uppercase;
  font-family: $heading-font-family;
  font-size: 1.25rem;
  font-weight: bold;
}

.sponsor-subhead {
  color: #FFF;
  font-weight: $base-font-bold;
  font-style: italic;
  line-height: 1.25rem;
  width: 80%;
  margin-top: $global-spacing;
}

.host-list__item {
  width: 45%;
  margin-bottom: $global-spacing;
  float: left;
  @include media(medium-up) {
    margin-bottom: $global-spacing * 2;
  }
  &:nth-of-type(odd) {
    margin-right: 7%;
  }
  &:nth-of-type(3) {
    clear: left;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.host, .sponsor {
  display: inline-block;
  vertical-align: top;

  img {
    width: auto;
    max-width: 100%;
    max-height: 2.5rem;
    display: block;

    @include media(medium-up) {
      max-height: 3rem;
    }
  }

  /* Downsize supporting sponsors */
  .sponsor-group--supporting-sponsor & {
    transform: scale(0.9);
  }

  /* Compensate logo proportions and alignment */
  &--development-seed img {
    // transform: translate(0, -1em);
    max-height: 3rem;
  }

  &--digitalglobe img {
    transform: translate(0, -.5em);
    max-height: 3.5rem;
  }
}
