/* ==========================================================================
   Homepage: Tickets Fold
   ========================================================================== */

#tickets {
  text-align: center;

  .prose {
    @include col(12/12);

    @include media(medium-up) {
      @include col(10/12, $offset: 1/12);
    }

    @include media(large-up) {
      @include col(8/12, $offset: 2/12);
    }
  }
}

.tickets-widget {
  width: 100%;
  // min-height: 30rem;

  // @include media(small-up) {
  //   min-height: 27rem;
  // }
}