/* ==========================================================================
   Homepage: Venue Fold
   ========================================================================== */

#venue {
  background: rgba(shade($base-color, 80%), 0.32);
  position: relative;
  text-align: center;

  > .inner {
    padding-bottom: 16rem;
  }

  @include media(medium-up) {
    min-height: 28rem;

    > .inner {
      position: absolute;
      padding: $global-spacing * 2;
      top: 50%;
      right: 0;
      width: 44%;
      transform: translate(0, -50%);
    }
  }

  @include media(large-up) {
    min-height: 36rem;
  }
}

.map-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 16rem;
  width: 100%;
  text-align: left;
  background: rgba(#fff, 0.16);

  @include media(medium-up) {
    height: 100%;
    width: 56%;
  }
}

#map {
  height: 100%;
  width: 100%;
}