/* ==========================================================================
   Homepage: Venue Fold
   ========================================================================== */

.map {
  height: 400px;
  position: relative;
  @include media(small-down) {
    width: 100%;
    margin-bottom: 2em;
    height: 250px;
  }
}

.venue--content {
  width: 38%;
  float: left;
  @include media(small-down) {
    width: 100%;
  }
}
