---
layout: base
---
<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <section class="inpage inpage--homepage">
      <header class="inpage__header">
        <div class="inner">
          <div class="inpage__headline" data-hook="nav-offset">
            <h1 class="inpage__title">SatSummit</h1>
            <p class="inpage__details"><time datetime="2018">Fall 2018</time> &bullet; Washington DC</p>
            <p class="inpage__introduction">Details coming soon.</p>
          </div>
        </div>
        <figure class="hero-media">
          <img src="/assets/graphics/layout/intro-hero-01a.jpg" width="1920" height="960" alt="Hero image" />
          <figcaption>Image by <a href="http://earthobservatory.nasa.gov/IOTD/view.php?id=88687" title="View image">The Earth Observatory</a></figcaption>
        </figure>
      </header>
      <div class="inpage__body">

        <!-- Fold: About -->
        <section class="fold" id="about">
          <div class="inner">
            <header class="fold__header">
              <h1 class="fold__title">About</h1>
            </header>
            <div class="fold__body">
              <div class="prose prose--responsive">
                <p>SatSummit convenes leaders in the satellite industry and experts in global development for in-depth conversations on solving the world's most critical development challenges with satellite data. From climate change to population growth to natural resource availability, earth observation data offers insights into today's biggest global issues.</p>
                <p>For questions about #SatSummit, presenting, or sponsoring, email <a href="mailto:info@satsummit.io" title="Hi SatSummit!">info@satsummit.io</a>.</p>
              </div>
            </div>
            <footer class="fold__footer fold__footer--actions">
              <a class="fold__cta fold__cta--light fold__cta--twitter" href="https://twitter.com/intent/user?screen_name=sat_summit" title="Follow us on Twitter"><span>Follow @SatSummit</span></a>
            </footer>
          </div>
        </section>
        <!--/ Fold: About -->

        {% include code-of-conduct-fold.html %}
        {% include sponsors-fold.html %}

      </div>

    </section>
    <!--/ inPage -->

  </div>
</main>
<!--/ Page Body -->
