---
layout: base-home
---
<!-- Homepage Header -->
<header class="page__header page__header--internal homepage__header" role="banner">
  <div class="inner">
    <div class="page__headline">
      <h1 class="page__title">
        <a href="{{ site.baseurl }}" title="Visit homepage">
          <img class="logo-symbol logo-symbol--pos" src="/assets/graphics/layout/satsummit-logo-symbol-pos.svg" width="256" height="160" alt="#SatSummit symbol - positive" />
          <span>#SatSummit</span>
        </a>
      </h1>
    </div>
    <nav class="page__prime-nav" role="navigation">
      <div class="toggle-menu">
        <h2 class="toggle-menu--item"><a href="#global-menu" title="Show/hide menu" data-hook="global-menu:trigger"><span>Browse</span></a></h2>
        <a href="https://www.eventbrite.com/e/satsummit-3-tickets-42123663010" title="View section" class="button button--small">Tickets</a>
      </div>
      <div class="menu-wrapper" data-hook="global-menu:wrapper">
        <ul class="global-menu" id="global-menu">
          <li><a href="/#about" title="View section" class="global-menu__link">About</a></li>
          <li><a href="/speakers" title="View section" class="global-menu__link">Speakers</a></li>
          <li><a href="/agenda" title="View section" class="global-menu__link">Agenda</a></li>
          <li><a href="/#sponsors" title="View section" class="global-menu__link">Sponsors</a></li>
          <li><a href="/#faq" title="View section" class="global-menu__link">FAQs</a></li>
          <li><a href="/code-of-conduct" title="View section" class="global-menu__link">Code of Conduct</a></li>
          <li><a href="https://www.eventbrite.com/e/satsummit-3-tickets-42123663010" title="View section" class="button">Get Tickets</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- Page Body -->
<main class="page__body" role="main">
  <div class="inner">

    <!-- inPage -->
    <section class="inpage inpage--homepage">
      <header class="inpage__header">
        <div class="fade"></div>
          <div class="inner">
            <div class="inpage__headline clearfix" data-hook="nav-offset">
              <img class="logo-symbol logo-symbol--neg" src="/assets/graphics/layout/satsummit-logo-symbol-neg.svg" width="256" height="160" alt="#SatSummit symbol - negative" />

              <div class='header--metadata'>
                <span>September 19 & 20</span><span>Washington, DC</span>
              </div>
              <h1 class="inpage__title">SatSummit 2018</h1>
              <span class="inpage__introduction">Satellite data for global development</span>
            </div>
            <nav>
              <ul>
                <li><a href="/#about" title="View section" class="global-menu__link">About</a></li>
                <li><a href="/speakers" title="View section" class="global-menu__link">Speakers</a></li>
                <li><a href="/agenda" title="View section" class="global-menu__link">Agenda</a></li>
                <li><a href="/#sponsors" title="View section" class="global-menu__link">Sponsors</a></li>
                <li><a href="/#faq" title="View section" class="global-menu__link">FAQs</a></li>
                <li><a href="/code-of-conduct" title="View section" class="global-menu__link">Code of Conduct</a></li>
                <li><a href="https://www.eventbrite.com/e/satsummit-3-tickets-42123663010" title="View section" class="button">Get Tickets</a></li>
              </ul>
            </nav>
        </div>
      </header>
      <div class="inpage__body">

        <!-- Fold: About -->
        <section class="fold fold--about" id="about">
          <div class="inner">
            <img class="img-bg" src="/assets/graphics/layout/conference-photo4.jpg" width="503" height="362" alt="Satsummit speaker" />
            <div class="fold__body">
              <h2 class="fold__title">About</h2>
              <p>SatSummit convenes leaders in the satellite industry and experts in global development for in-depth conversations on solving the world's most critical development challenges with satellite data. From climate change to population growth to natural resource availability, earth observation data offers insights into today's biggest global issues.</p>
              <p>SatSummit is committed to exploring the current state of satellite data capabilities and new systems. Our second SatSummit explored the topics ranging from machine learning to automated monitoring to identifying specific opportunities for partnership and innovation. Read more about the presentations, program launches and commitments, and news related to SatSummit on our <a href="https://satsummit.io/insights/">Insights blog</a>, and stay tuned for more information on SatSummit 3!</p>
            </div>
            <img class="img-bg" src="/assets/graphics/layout/conference-photo1.jpg" width="374" height="374" alt="Satsummit speaker" />
            <img class="img-bg" src="/assets/graphics/layout/conference-photo2.jpg" width="736" height="347" alt="Satsummit speaker" />
            <img class="img-bg" src="/assets/graphics/layout/conference-photo3.jpg" width="736" height="374" alt="Satsummit speaker" />
          </div>
        </section>
        <!--/ Fold: About -->

        {% assign feat_events = site.events | where: "featured", true %}
        {% if feat_events.size > 0 %}
        <!-- Fold: Sessions -->
        <section class="fold background--grey fold-sessions" id="featured-sessions">
          <div class="inner">
            <header class="fold__header">
              <h2 class="fold__title">Featured Sessions</h2>
            </header>
            <div class="fold__body">
              <ol class="session-list session-list--featured">
                {% for event in feat_events limit: 12 %}
                <li class="session-list__item">
                  <p class="event__type">{{ event.type }}</p>
                  <h4 class="heading--medium"><a class="session-list__link" href="{{ site.baseurl }}/agenda/#event-{{ event.title | slugify }}">{{ event.title }}</a></h4>
                  <p>{{ event.summary }}</p>
                </li>
                {% endfor %}
              </ol>
            </div>
            <footer>
              <a class="button go-button" href="{{ site.baseurl }}/agenda/" title="View all sessions"><span>View all sessions</span></a>
            </footer>
          </div>
        </section>
        <!--/ Fold: Sessions -->
        {% endif %}

        <!-- Fold: Sponsors -->
        <section class="fold section--sponsors" id="sponsors">
          <div class="inner">
            <div class="card side-by-side">
              <h2 class="fold__title">Sponsorship</h2>
              <p>We're excited to partner with thought and industry leaders in the satellite and development communities, and through their sponsorship and support of SatSummit we are solving real-world and global development challenges.</p>
            </div>
            {% include sponsors-fold.html %}
          </div>
        </section>
        <!--/ Fold: Sponsors -->

        <!-- Fold: FAQ -->
        <section class="fold fold--faq" id="faq">
          <div class="inner">
            <h2 class="fold__title">Frequently Asked Questions</h2>
            <div class="fold__body">
              <ol class="columns--two list--top-border">
                <li>
                  <h4 class="heading--medium">What is SatSummit?</h4>
                  <p>SatSummit is a two-day conference that convenes leaders in the satellite industry and experts in global development for in-depth conversations on solving the world's most critical development challenges with satellite data. From climate change to population growth to natural resource availability, Earth observation data offers insights into today's biggest global issues.</p>
                </li>
                <li>
                  <h4 class="heading--medium">How do I register?</h4>
                  <p>You can register <a href="https://www.eventbrite.com/e/satsummit-3-tickets-42123663010">here</a>. Onsite registration will not be available.</p>
                </li>
                <li>
                  <h4 class="heading--medium">Am I able to purchase tickets for only one day of the event?</h4>
                  <p>Yes, we have ticket levels that include access to both days of SatSummit. You can also purchase tickets to attend Day 1 or Day 2 only.</p>
                </li>
                <li>
                  <h4 class="heading--medium">Will you make special accommodations for attendees observing Yom Kippur? </h4>
                  <p>Please reach out to us directly at info@satsummit.io to discuss dietary needs, schedule, and other accommodations that we can make while you're at SatSummit. If you are unable to attend Day 1 of SatSummit, we have separate tickets available for the Day 1 party at the Smithsonian National Air and Space Museum and for Day 2 of the summit. Please send your ticket request to <a href="mailto:info@satsummit.io">info@satsummit.io</a>.</p>
                </li>
                <li>
                  <h4 class="heading--medium">Where is SatSummit being held?</h4>
                  <p>SatSummit will take place at the <a href='https://itcdc.com/' target='blank'>Ronald Reagan Building and International Trade Center</a> located at 1300 Pennsylvania Ave NW, Washington, DC 20004. </p>
                </li>
                <li>
                  <h4 class="heading--medium">Is the venue wheelchair accessible?</h4>
                  <p>The venue is fully ADA compliant. Should you need any accommodations to make this event accessible to you, please reach out to us at <a href='mailto:info@satsummit.io'>info@satsummit.io</a> </p>
                </li>
                <li>
                  <h4 class="heading--medium">Is there a Mother’s room available if I am nursing?</h4>
                  <p>Yes, we have a private and comfortable space available for nursing Mother’s.</p>
                </li>
              </ol>
          </div>
        </section>
        <!--/ Fold: FAQ -->

        <!-- Fold: Venue -->
        <section class="fold fold--venue">
          <div class="fold__body">
            <div class="map" id="map"></div>
          </div>
        </section>
        <!--/ Fold: Venue -->

    </section>
    <!--/ inPage -->
  </div>
</main>
<!--/ Page Body -->
